In [1]:
import pandas as pd
from siuba import *
import shared_utils

/opt/conda/lib/python3.10/site-packages/geopandas/_compat.py:111: UserWarning: The Shapely GEOS version (3.10.2-CAPI-1.16.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [2]:
GCS_PROJECT = "cal-itp-data-infra"
BUCKET_NAME = "calitp-analytics-data"
BUCKET_DIR = "data-analyses/stop_level_ridership"
GCS_FILE_PATH = f"gs://{BUCKET_NAME}/{BUCKET_DIR}/"

# LA Metro route/stop-level data from 2019:

* daily averages by line and stop (DX = weekday)
* stop_id are historical and should only be joined with appropriately dated GTFS data if we have any
* accompanying csv has stop lat/lon

In [7]:
pd.read_csv(f'{GCS_FILE_PATH}old_metro/raw/201910_DX_Stop_data.csv') >> head(5)

,YEAR_MONTH,LINE,DAY_TYPE,STOP_ID,Boardings,Alightings,DIRECTION,Stop_Order_Name
0,2019-10,2,DX,10984,143.8,12.4,East,006-HILGARD / WESTHOLME
1,2019-10,2,DX,11426,95.1,11.2,East,001-LE CONTE / BROXTON
2,2019-10,2,DX,13596,5.3,14.7,East,088-HILL / 4TH
3,2019-10,2,DX,13597,22.5,78.0,East,089-HILL / 5TH
4,2019-10,2,DX,13598,9.9,81.8,East,090-HILL / 6TH

In [9]:
pd.read_csv(f'{GCS_FILE_PATH}old_metro/raw/201910_SA_Stop_data.csv') >> head(5)

,YEAR_MONTH,LINE,DAY_TYPE,STOP_ID,Boardings,Alightings,DIRECTION,Stop_Order_Name
0,2019-10,2,SA,10984,59.9,7.4,East,006-HILGARD / WESTHOLME
1,2019-10,2,SA,11426,120.0,3.7,East,001-LE CONTE / BROXTON
2,2019-10,2,SA,13596,6.5,19.6,East,088-HILL / 4TH
3,2019-10,2,SA,13597,12.8,66.4,East,089-HILL / 5TH
4,2019-10,2,SA,13598,5.4,64.9,East,090-HILL / 6TH

In [10]:
pd.read_csv(f'{GCS_FILE_PATH}old_metro/raw/201910_SU_Stop_data.csv') >> head(5)

,YEAR_MONTH,LINE,DAY_TYPE,STOP_ID,Boardings,Alightings,DIRECTION,Stop_Order_Name
0,2019-10,2,SU,10984,39.8,6.3,East,006-HILGARD / WESTHOLME
1,2019-10,2,SU,11426,94.6,3.7,East,001-LE CONTE / BROXTON
2,2019-10,2,SU,13596,6.8,13.1,East,088-HILL / 4TH
3,2019-10,2,SU,13597,10.8,43.6,East,089-HILL / 5TH
4,2019-10,2,SU,13598,5.4,46.7,East,090-HILL / 6TH

In [8]:
pd.read_csv(f'{GCS_FILE_PATH}old_metro/raw/Line_Stop_Seq.csv') >> head(5)

/tmp/ipykernel_1174/4068721737.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.

,STOP_LAT,STOP_LONG,LINE,DIR,BS_ID,LNAME,ORDER_NUM,BOOKING,DIRECTION_NUM,DIRECTION_CODE_ID
0,33.921698,-118.146971,117.0,West,2624.0,IMPERIAL / DOWNEY,2.0,200706.0,1.0,5.0
1,33.924316,-118.152177,117.0,West,2653.0,IMPERIAL / PARAMOUNT,3.0,200706.0,1.0,5.0
2,33.925292,-118.154140,117.0,West,3619.0,IMPERIAL / SMALLWOOD,4.0,200706.0,1.0,5.0
3,33.926449,-118.156067,117.0,West,4511.0,RIVES / IMPERIAL,5.0,200706.0,1.0,5.0
4,33.945871,-118.395941,117.0,West,5548.0,SEPULVEDA / CENTURY,80.0,200706.0,1.0,5.0