# Route identification (time-series)

Over time, even `route_ids` change. Pick out a couple of examples of this.

In [1]:
import pandas as pd
import yaml

from update_vars import SCHED_GCS, GTFS_DATA_DICT
from shared_utils import portfolio_utils
from segment_speed_utils import time_series_utils

with open(
    "../_shared_utils/shared_utils/portfolio_organization_name.yml", "r"
) as f:
    PORTFOLIO_ORGANIZATIONS_DICT = yaml.safe_load(f)

In [2]:
CLEANED_ROUTE_NAMING = GTFS_DATA_DICT.schedule_tables.route_identification

df = pd.read_parquet(
    f"{SCHED_GCS}{CLEANED_ROUTE_NAMING}.parquet"
).pipe(
    portfolio_utils.standardize_portfolio_organization_names, 
    PORTFOLIO_ORGANIZATIONS_DICT
)

In [3]:
df.columns

Index(['schedule_gtfs_dataset_key', 'name', 'route_id', 'route_long_name',
       'route_short_name', 'route_desc', 'service_date', 'combined_name',
       'route_id2', 'recent_combined_name', 'recent_route_id2',
       'portfolio_organization_name'],
      dtype='object')

## LA Metro

`route_id` has suffix added every time a new feed goes into effect.

In [4]:
subset_cols = [
    "name", "portfolio_organization_name", 
    "route_id", "service_date", "combined_name",
    "recent_combined_name", "recent_route_id2", 'route_long_name',
       'route_short_name',
]

df[(df.name.str.contains("LA Metro")) & 
   (df.recent_combined_name == "2__Metro Local Line")
][subset_cols].tail(10)

,name,portfolio_organization_name,route_id,service_date,combined_name,recent_combined_name,recent_route_id2,route_long_name,route_short_name
99231,LA Metro Bus Schedule,Los Angeles County Metropolitan Transportation...,2-13183,2024-10-18,2__Metro Local Line,2__Metro Local Line,2,Metro Local Line,2
101311,LA Metro Bus Schedule,Los Angeles County Metropolitan Transportation...,2-13183,2024-10-19,2__Metro Local Line,2__Metro Local Line,2,Metro Local Line,2
102996,LA Metro Bus Schedule,Los Angeles County Metropolitan Transportation...,2-13183,2024-10-20,2__Metro Local Line,2__Metro Local Line,2,Metro Local Line,2
105242,LA Metro Bus Schedule,Los Angeles County Metropolitan Transportation...,2-13183,2024-11-13,2__Metro Local Line,2__Metro Local Line,2,Metro Local Line,2
108035,LA Metro Bus Schedule,Los Angeles County Metropolitan Transportation...,2-13183,2024-12-11,2__Metro Local Line,2__Metro Local Line,2,Metro Local Line,2
111088,LA Metro Bus Schedule,Los Angeles County Metropolitan Transportation...,2-13186,2025-01-15,2__Metro Local Line,2__Metro Local Line,2,Metro Local Line,2
113814,LA Metro Bus Schedule,Los Angeles County Metropolitan Transportation...,2-13191,2025-02-12,2__Metro Local Line,2__Metro Local Line,2,Metro Local Line,2
116376,LA Metro Bus Schedule,Los Angeles County Metropolitan Transportation...,2-13191,2025-03-12,2__Metro Local Line,2__Metro Local Line,2,Metro Local Line,2
119065,LA Metro Bus Schedule,Los Angeles County Metropolitan Transportation...,2-13191,2025-04-16,2__Metro Local Line,2__Metro Local Line,2,Metro Local Line,2
121607,LA Metro Bus Schedule,Los Angeles County Metropolitan Transportation...,2-13191,2025-05-14,2__Metro Local Line,2__Metro Local Line,2,Metro Local Line,2

In [5]:
df[(df.name.str.contains("LA Metro")) & 
   (df.recent_combined_name == "2__Metro Local Line")
  ].route_id.value_counts()

2-13172    13
2-13183    12
2-13168    11
2-13167    10
2-13191     4
2-13186     1
Name: route_id, dtype: int64

## VCTC

These were flagged as a complicated case where metrics were duplicated in GTFS Digest.

Within [time_series_utils](https://github.com/cal-itp/data-analyses/blob/main/rt_segment_speeds/segment_speed_utils/time_series_utils.py#L84-L105), in Apr 2024, when this function was added, VCTC should only have route_long_names kept. 

Recently, since Sep 2024, it appears they've grouped a set of routes together, now it's appearing as 80-89 Coastal Express.
Given that, we should remove VCTC GMV from that list where we do extra route cleaning.

In [6]:
vctc_df = df[(df.name=="VCTC GMV Schedule") & 
   (df.recent_combined_name.str.contains("Coastal Express"))
  ]
vctc_df[subset_cols]

,name,portfolio_organization_name,route_id,service_date,combined_name,recent_combined_name,recent_route_id2,route_long_name,route_short_name
14,VCTC GMV Schedule,"Ventura County (VCTC, Gold Coast, Cities of Ca...",4134,2023-03-15,80__80-Coastal Express,80__80-Coastal Express,4134,80-Coastal Express,80
15,VCTC GMV Schedule,"Ventura County (VCTC, Gold Coast, Cities of Ca...",4136,2023-03-15,80X__80x-Coastal Express,80X__80x-Coastal Express,4136,80x-Coastal Express,80X
16,VCTC GMV Schedule,"Ventura County (VCTC, Gold Coast, Cities of Ca...",4145,2023-03-15,86__86-Coastal Express,86__86-Coastal Express,4145,86-Coastal Express,86
21,VCTC GMV Schedule,"Ventura County (VCTC, Gold Coast, Cities of Ca...",4143,2023-03-15,85__85-Coastal Express,85__85-Coastal Express,4143,85-Coastal Express,85
22,VCTC GMV Schedule,"Ventura County (VCTC, Gold Coast, Cities of Ca...",4146,2023-03-15,87__87-Coastal Express,87__87-Coastal Express,4146,87-Coastal Express,87
...,...,...,...,...,...,...,...,...,...
121729,VCTC GMV Schedule,"Ventura County (VCTC, Gold Coast, Cities of Ca...",4146,2025-05-14,87__80-89 Coastal Express,87__80-89 Coastal Express,4146,80-89 Coastal Express,87
121818,VCTC GMV Schedule,"Ventura County (VCTC, Gold Coast, Cities of Ca...",4136,2025-05-14,80X__80-89 Coastal Express,80X__80-89 Coastal Express,4136,80-89 Coastal Express,80X
121821,VCTC GMV Schedule,"Ventura County (VCTC, Gold Coast, Cities of Ca...",4138,2025-05-14,81B__80-89 Coastal Express,81B__80-89 Coastal Express,4138,80-89 Coastal Express,81B
121822,VCTC GMV Schedule,"Ventura County (VCTC, Gold Coast, Cities of Ca...",4142,2025-05-14,84U__80-89 Coastal Express,84U__80-89 Coastal Express,4142,80-89 Coastal Express,84U
121823,VCTC GMV Schedule,"Ventura County (VCTC, Gold Coast, Cities of Ca...",4147,2025-05-14,88__80-89 Coastal Express,88__80-89 Coastal Express,4147,80-89 Coastal Express,88

In [7]:
vctc_df.pipe(
    time_series_utils.clean_standardized_route_names
)

,schedule_gtfs_dataset_key,name,route_id,route_long_name,route_short_name,route_desc,service_date,combined_name,route_id2,recent_combined_name,recent_route_id2,portfolio_organization_name
0,7e015887964432c82ce7e735c2753f86,VCTC GMV Schedule,4134,80-Coastal Express,80,80,2023-03-15,80__80-Coastal Express,4134,80-Coastal Express,4134,"Ventura County (VCTC, Gold Coast, Cities of Ca..."
1,7e015887964432c82ce7e735c2753f86,VCTC GMV Schedule,4136,80x-Coastal Express,80X,80x,2023-03-15,80X__80x-Coastal Express,4136,80x-Coastal Express,4136,"Ventura County (VCTC, Gold Coast, Cities of Ca..."
2,7e015887964432c82ce7e735c2753f86,VCTC GMV Schedule,4145,86-Coastal Express,86,86,2023-03-15,86__86-Coastal Express,4145,86-Coastal Express,4145,"Ventura County (VCTC, Gold Coast, Cities of Ca..."
3,7e015887964432c82ce7e735c2753f86,VCTC GMV Schedule,4143,85-Coastal Express,85,85,2023-03-15,85__85-Coastal Express,4143,85-Coastal Express,4143,"Ventura County (VCTC, Gold Coast, Cities of Ca..."
4,7e015887964432c82ce7e735c2753f86,VCTC GMV Schedule,4146,87-Coastal Express,87,87,2023-03-15,87__87-Coastal Express,4146,87-Coastal Express,4146,"Ventura County (VCTC, Gold Coast, Cities of Ca..."
...,...,...,...,...,...,...,...,...,...,...,...,...
529,1770249a5a2e770ca90628434d4934b1,VCTC GMV Schedule,4146,80-89 Coastal Express,87,87,2025-05-14,87__80-89 Coastal Express,4146,80-89 Coastal Express,4146,"Ventura County (VCTC, Gold Coast, Cities of Ca..."
530,1770249a5a2e770ca90628434d4934b1,VCTC GMV Schedule,4136,80-89 Coastal Express,80X,80x,2025-05-14,80X__80-89 Coastal Express,4136,80-89 Coastal Express,4136,"Ventura County (VCTC, Gold Coast, Cities of Ca..."
531,1770249a5a2e770ca90628434d4934b1,VCTC GMV Schedule,4138,80-89 Coastal Express,81B,81B,2025-05-14,81B__80-89 Coastal Express,4138,80-89 Coastal Express,4138,"Ventura County (VCTC, Gold Coast, Cities of Ca..."
532,1770249a5a2e770ca90628434d4934b1,VCTC GMV Schedule,4142,80-89 Coastal Express,84U,84U,2025-05-14,84U__80-89 Coastal Express,4142,80-89 Coastal Express,4142,"Ventura County (VCTC, Gold Coast, Cities of Ca..."
533,1770249a5a2e770ca90628434d4934b1,VCTC GMV Schedule,4147,80-89 Coastal Express,88,88,2025-05-14,88__80-89 Coastal Express,4147,80-89 Coastal Express,4147,"Ventura County (VCTC, Gold Coast, Cities of Ca..."

In [8]:
unique_routes = vctc_df.pipe(
    time_series_utils.clean_standardized_route_names
).route_id.unique()

The new `recent_combined_name` since Sep 2024-May 2025 is capturing so many route_ids!

This confirms what was seen GTFS Digest.

In [9]:
vctc_df.pipe(
    time_series_utils.clean_standardized_route_names
).astype(str).groupby(
    ["recent_combined_name"]
).agg({
    "route_id": lambda x: list(set(x)),
    "service_date": ["min", "max"],
}).reset_index()

     recent_combined_name                                           route_id  \
                                                                    <lambda>
0   80-89 Coastal Express  [4146, 4138, 4134, 4147, 4142, 4141, 4137, 414...
1      80-Coastal Express                                             [4134]
2     80c-Coastal Express                                             [4135]
3     80x-Coastal Express                                             [4136]
4      81-Coastal Express                                             [4137]
5     81B-Coastal Express                                             [4138]
6      84-Coastal Express                                             [4141]
7     84u-Coastal Express                                             [4142]
8      85-Coastal Express                                             [4143]
9     85c-Coastal Express                                             [4144]
10     86-Coastal Express                                             [4145]
11     87-Coastal Express                                             [4146]
12     88-Coastal Express                                             [4147]
13     89-Coastal Express                                             [4148]
14        Coastal Express  [4146, 4138, 4134, 4147, 4142, 4141, 4137, 414...

   service_date
            min         max
0    2024-09-18  2025-05-14
1    2023-03-15  2024-06-12
2    2023-03-15  2023-08-15
3    2023-03-15  2024-06-12
4    2023-03-15  2024-06-12
5    2023-03-15  2024-06-12
6    2023-03-15  2024-06-12
7    2023-03-15  2024-06-12
8    2023-03-15  2024-06-12
9    2023-03-15  2024-06-12
10   2023-03-15  2024-06-12
11   2023-03-15  2024-06-12
12   2023-03-15  2024-06-12
13   2023-03-15  2024-06-12
14   2024-07-17  2024-08-14

In Apr 2024, this looks ok, `recent_combined_name` is reasonable.

In [10]:
vctc_df[vctc_df.service_date <= pd.to_datetime("2024-04-01")].pipe(
    time_series_utils.clean_standardized_route_names
).astype(str).groupby(
    ["recent_combined_name"]
).agg({
    "route_id": lambda x: list(set(x)),
    "service_date": ["min", "max"],
}).reset_index()

   recent_combined_name route_id service_date
                        <lambda>          min         max
0    80-Coastal Express   [4134]   2023-03-15  2024-03-13
1   80c-Coastal Express   [4135]   2023-03-15  2023-08-15
2   80x-Coastal Express   [4136]   2023-03-15  2024-03-13
3    81-Coastal Express   [4137]   2023-03-15  2024-03-13
4   81B-Coastal Express   [4138]   2023-03-15  2024-03-13
5    84-Coastal Express   [4141]   2023-03-15  2024-03-13
6   84u-Coastal Express   [4142]   2023-03-15  2024-03-13
7    85-Coastal Express   [4143]   2023-03-15  2024-03-13
8   85c-Coastal Express   [4144]   2023-03-15  2024-03-13
9    86-Coastal Express   [4145]   2023-03-15  2024-03-13
10   87-Coastal Express   [4146]   2023-03-15  2024-03-13
11   88-Coastal Express   [4147]   2023-03-15  2024-03-13
12   89-Coastal Express   [4148]   2023-03-15  2024-03-13

In [11]:
def display_subset(df: pd.DataFrame) -> tuple[pd.DataFrame]:
    """
    Compare what happens when we pipe vs don't pipe for the operators in the list we
    do extra data wrangling on.
    """
    cols = ["route_id", "route_short_name", "route_long_name", 
         "recent_combined_name"
           ]
    with_pipe = df.pipe(
        time_series_utils.clean_standardized_route_names
    ).astype(str).groupby(
        ["recent_combined_name"]
    ).agg({
        "route_id": lambda x: list(set(x)),
        "service_date": ["min", "max"],
    }).reset_index()

    no_pipe = df.astype(str).groupby(
        ["recent_combined_name"]
    ).agg({
        "route_id": lambda x: list(set(x)),
        "service_date": ["min", "max"],
    }).reset_index()
    
    print(f"status quo, with time_series_utils.pipe affecting it")
    display(with_pipe)
    
    print(f"status quo, no pipe, no extra parsing affecting it")
    display(no_pipe)
    
    return

In [12]:
display_subset(vctc_df)

status quo, with time_series_utils.pipe affecting it

     recent_combined_name                                           route_id  \
                                                                    <lambda>
0   80-89 Coastal Express  [4146, 4138, 4134, 4147, 4142, 4141, 4137, 414...
1      80-Coastal Express                                             [4134]
2     80c-Coastal Express                                             [4135]
3     80x-Coastal Express                                             [4136]
4      81-Coastal Express                                             [4137]
5     81B-Coastal Express                                             [4138]
6      84-Coastal Express                                             [4141]
7     84u-Coastal Express                                             [4142]
8      85-Coastal Express                                             [4143]
9     85c-Coastal Express                                             [4144]
10     86-Coastal Express                                             [4145]
11     87-Coastal Express                                             [4146]
12     88-Coastal Express                                             [4147]
13     89-Coastal Express                                             [4148]
14        Coastal Express  [4146, 4138, 4134, 4147, 4142, 4141, 4137, 414...

   service_date
            min         max
0    2024-09-18  2025-05-14
1    2023-03-15  2024-06-12
2    2023-03-15  2023-08-15
3    2023-03-15  2024-06-12
4    2023-03-15  2024-06-12
5    2023-03-15  2024-06-12
6    2023-03-15  2024-06-12
7    2023-03-15  2024-06-12
8    2023-03-15  2024-06-12
9    2023-03-15  2024-06-12
10   2023-03-15  2024-06-12
11   2023-03-15  2024-06-12
12   2023-03-15  2024-06-12
13   2023-03-15  2024-06-12
14   2024-07-17  2024-08-14

status quo, no pipe, no extra parsing affecting it

          recent_combined_name route_id service_date
                               <lambda>          min         max
0     80C__80c-Coastal Express   [4135]   2023-03-15  2023-08-15
1   80X__80-89 Coastal Express   [4136]   2023-04-10  2025-05-14
2     80X__80x-Coastal Express   [4136]   2023-03-15  2023-03-15
3    80__80-89 Coastal Express   [4134]   2023-04-10  2025-05-14
4       80__80-Coastal Express   [4134]   2023-03-15  2023-03-15
5   81B__80-89 Coastal Express   [4138]   2023-04-10  2025-05-14
6     81B__81B-Coastal Express   [4138]   2023-03-15  2023-03-15
7    81__80-89 Coastal Express   [4137]   2023-04-10  2025-05-14
8       81__81-Coastal Express   [4137]   2023-03-15  2023-03-15
9   84U__80-89 Coastal Express   [4142]   2023-04-10  2025-05-14
10    84U__84u-Coastal Express   [4142]   2023-03-15  2023-03-15
11   84__80-89 Coastal Express   [4141]   2023-04-10  2025-05-14
12      84__84-Coastal Express   [4141]   2023-03-15  2023-03-15
13  85C__80-89 Coastal Express   [4144]   2023-04-10  2025-05-14
14    85C__85c-Coastal Express   [4144]   2023-03-15  2023-03-15
15   85__80-89 Coastal Express   [4143]   2023-04-10  2025-05-14
16      85__85-Coastal Express   [4143]   2023-03-15  2023-03-15
17   86__80-89 Coastal Express   [4145]   2023-04-10  2025-05-14
18      86__86-Coastal Express   [4145]   2023-03-15  2023-03-15
19   87__80-89 Coastal Express   [4146]   2023-04-10  2025-05-14
20      87__87-Coastal Express   [4146]   2023-03-15  2023-03-15
21   88__80-89 Coastal Express   [4147]   2023-04-10  2025-05-14
22      88__88-Coastal Express   [4147]   2023-03-15  2023-03-15
23   89__80-89 Coastal Express   [4148]   2023-04-10  2025-05-14
24      89__89-Coastal Express   [4148]   2023-03-15  2023-03-15

## Check other operators

Find other operators ones that might also have had changes and see if any can benefit from having extra parsing removed.

In [13]:
for operator in time_series_utils.operators_only_route_long_name:
    print(f"Operator: {operator}")
          
    display_subset(df[df.name==operator])

Operator: Antelope Valley Transit Authority Schedule
status quo, with time_series_utils.pipe affecting it

   recent_combined_name route_id service_date
                        <lambda>          min         max
0               Route 1      [1]   2023-03-15  2025-05-14
1              Route 11     [11]   2023-03-15  2025-05-14
2              Route 12     [12]   2023-03-15  2025-05-14
3               Route 2      [2]   2023-03-15  2025-05-14
4               Route 3      [3]   2023-03-15  2025-05-14
5               Route 4      [4]   2023-03-15  2025-05-14
6               Route 5      [5]   2023-03-15  2025-05-14
7              Route 50     [50]   2023-03-15  2025-05-14
8              Route 51     [51]   2023-03-15  2025-05-14
9              Route 52     [52]   2023-03-15  2025-05-14
10              Route 7      [7]   2023-03-15  2025-05-14
11            Route 785    [785]   2023-03-15  2025-05-14
12            Route 786    [786]   2023-03-15  2025-05-14
13            Route 787    [787]   2023-03-15  2025-05-14
14            Route 790    [790]   2023-03-15  2025-05-14
15              Route 8      [8]   2023-03-15  2025-05-14
16              Route 9      [9]   2023-03-15  2025-05-14
17             Route 94     [94]   2023-03-15  2025-05-14
18             Route 97     [97]   2023-03-15  2025-05-14
19             Route 98     [98]   2023-03-15  2025-05-14

status quo, no pipe, no extra parsing affecting it

   recent_combined_name route_id service_date
                        <lambda>          min         max
0          11__Route 11     [11]   2023-03-15  2025-05-14
1          12__Route 12     [12]   2023-03-15  2025-05-14
2            1__Route 1      [1]   2023-03-15  2025-05-14
3            2__Route 2      [2]   2023-03-15  2025-05-14
4            3__Route 3      [3]   2023-03-15  2025-05-14
5            4__Route 4      [4]   2023-03-15  2025-05-14
6          50__Route 50     [50]   2023-03-15  2025-05-14
7          51__Route 51     [51]   2023-03-15  2025-05-14
8          52__Route 52     [52]   2023-03-15  2025-05-14
9            5__Route 5      [5]   2023-03-15  2025-05-14
10       785__Route 785    [785]   2023-03-15  2025-05-14
11       786__Route 786    [786]   2023-03-15  2025-05-14
12       787__Route 787    [787]   2023-03-15  2025-05-14
13       790__Route 790    [790]   2023-03-15  2025-05-14
14           7__Route 7      [7]   2023-03-15  2025-05-14
15           8__Route 8      [8]   2023-03-15  2025-05-14
16         94__Route 94     [94]   2023-03-15  2025-05-14
17         97__Route 97     [97]   2023-03-15  2025-05-14
18         98__Route 98     [98]   2023-03-15  2025-05-14
19           9__Route 9      [9]   2023-03-15  2025-05-14

Operator: Bay Area 511 ACE Schedule
status quo, with time_series_utils.pipe affecting it

        recent_combined_name    route_id service_date
                                <lambda>          min         max
0                  ACE Train  [ACETrain]   2023-10-09  2025-05-14
1  Altamont Corridor Express       [ACE]   2023-03-15  2023-09-13

status quo, no pipe, no extra parsing affecting it

             recent_combined_name    route_id service_date
                                     <lambda>          min         max
0             ACETrain__ACE Train  [ACETrain]   2023-10-09  2025-05-14
1  ACE__Altamont Corridor Express       [ACE]   2023-03-15  2023-09-13

Operator: Bay Area 511 Caltrain Schedule
status quo, with time_series_utils.pipe affecting it

                                 recent_combined_name  \

0
1                           1XX weekday local service
2   4XX local service in Santa Clara county, limit...
3                                   5XX limited stops
4                           6XX weekend local service
5              8XX peak hour connector from/to Gilroy
6                                              Bullet
7                                 Caltrain Bus Bridge
8                                               LTD 3
9                                               LTD 4
10                                              LTD 5
11                                              Local
12                 South Santa Clara County Connector

                             route_id service_date
                             <lambda>          min         max
0   [Express, Local Weekday, Limited]   2024-11-13  2025-05-14
1                     [Local Weekday]   2024-10-14  2024-10-18
2                           [Limited]   2024-10-14  2024-10-18
3                           [Express]   2024-10-14  2024-10-18
4                     [Local Weekend]   2024-10-19  2024-10-20
5            [South County Connector]   2024-10-14  2024-10-18
6                                [B7]   2023-03-15  2024-09-18
7                        [Bus Bridge]   2024-04-20  2024-04-21
8                                [L3]   2023-03-15  2024-09-18
9                                [L4]   2023-03-15  2024-09-18
10                               [L5]   2023-03-15  2024-09-18
11                           [L2, L1]   2023-03-15  2024-09-18
12                     [South County]   2024-11-13  2025-05-14

status quo, no pipe, no extra parsing affecting it

                                 recent_combined_name  \

0                                          B7__Bullet
1                     Bus Bridge__Caltrain Bus Bridge
2                                           Express__
3                                           L1__Local
4                                           L2__Local
5                                           L3__LTD 3
6                                           L4__LTD 4
7                                           L5__LTD 5
8                                           Limited__
9                                     Local Weekday__
10           Local Weekend__6XX weekend local service
11  South County Connector__8XX peak hour connecto...
12   South County__South Santa Clara County Connector

                    route_id service_date
                    <lambda>          min         max
0                       [B7]   2023-03-15  2024-09-18
1               [Bus Bridge]   2024-04-20  2024-04-21
2                  [Express]   2024-10-14  2025-05-14
3                       [L1]   2023-03-15  2024-09-18
4                       [L2]   2024-04-20  2024-04-21
5                       [L3]   2023-03-15  2024-09-18
6                       [L4]   2023-03-15  2024-09-18
7                       [L5]   2023-03-15  2024-09-18
8                  [Limited]   2024-10-14  2025-05-14
9            [Local Weekday]   2024-10-14  2025-05-14
10           [Local Weekend]   2024-10-19  2024-10-20
11  [South County Connector]   2024-10-14  2024-10-18
12            [South County]   2024-11-13  2025-05-14

Operator: Bay Area 511 Emery Go-Round Schedule
status quo, with time_series_utils.pipe affecting it

    recent_combined_name             route_id service_date
                                     <lambda>          min         max
0                 Hollis             [Hollis]   2023-03-15  2025-05-14
1      Shellmound/Powell  [Shellmound/Powell]   2023-03-15  2024-01-17
2  Shellmound/Powell Sat      [Shell/Pow Sat]   2024-04-20  2024-10-19
3  Shellmound/Powell Sun      [Shell/Pow Sun]   2024-04-21  2024-10-20
4   Shellmound/Powell WD          [Shell/Pow]   2024-02-14  2025-05-14

status quo, no pipe, no extra parsing affecting it

                   recent_combined_name             route_id service_date  \
                                                    <lambda>          min
0                        Hollis__Hollis             [Hollis]   2023-03-15
1  Shell/Pow Sat__Shellmound/Powell Sat      [Shell/Pow Sat]   2024-04-20
2  Shell/Pow Sun__Shellmound/Powell Sun      [Shell/Pow Sun]   2024-04-21
3       Shell/Pow__Shellmound/Powell WD          [Shell/Pow]   2024-02-14
4  Shellmound/Powell__Shellmound/Powell  [Shellmound/Powell]   2023-03-15


          max
0  2025-05-14
1  2024-10-19
2  2024-10-20
3  2025-05-14
4  2024-01-17

Operator: Bay Area 511 Petaluma Schedule
status quo, with time_series_utils.pipe affecting it

                               recent_combined_name route_id service_date  \
                                                    <lambda>          min
0                                    02 N. Mcdowell      [2]   2024-01-17
1                             03 Eastside Clockwise      [3]   2024-01-17
2                                  10 Petaluma Blvd     [10]   2024-01-17
3                             11 Petaluma Crosstown     [11]   2024-01-17
4             24 SMART - Lakeville -Kaiser Hospital     [24]   2024-01-17
5                                     302 KJHS/CGHS    [302]   2025-01-15
6                                     303 KJHS/CGHS    [303]   2024-01-17
7   311 Casa Grande High and Kenilworth Junior High    [311]   2024-01-17
8                         33 Eastside Counter-Clock     [33]   2024-01-17
9                 501 Petaluma High and Junior High    [501]   2024-01-17
10                   Cghs / Eastside Transit Center    [312]   2023-03-15
11                                        Crosstown     [11]   2023-03-15
12                               Downtown Kjhs/cghs    [311]   2023-03-15
13                               Eastside Clockwise      [3]   2023-03-15
14                           Eastside Counter-Clock     [33]   2023-03-15
15                                        Kjhs/cghs    [303]   2023-03-15
16                                      N. Mcdowell      [2]   2023-03-15
17                                    Petaluma Blvd     [10]   2023-03-15
18                                   Pjhs/phs/smart    [501]   2023-03-15
19                                         Route 10     [10]   2023-04-10
20                                         Route 11     [11]   2023-04-10
21                                          Route 2      [2]   2023-04-10
22                                         Route 24     [24]   2023-04-10
23                                          Route 3      [3]   2023-04-10
24                                        Route 301    [301]   2023-04-10
25                                        Route 302    [302]   2023-04-10
26                                        Route 303    [303]   2023-04-10
27                                        Route 311    [311]   2023-04-10
28                                        Route 312    [312]   2023-04-10
29                                         Route 33     [33]   2023-04-10
30                                        Route 501    [501]   2023-04-10
31                        Smart - Lakeville -Kaiser     [24]   2023-03-15


           max
0   2025-05-14
1   2025-05-14
2   2025-05-14
3   2025-05-14
4   2025-05-14
5   2025-05-14
6   2025-05-14
7   2025-05-14
8   2025-05-14
9   2025-05-14
10  2023-12-13
11  2023-12-13
12  2023-12-13
13  2023-12-13
14  2023-12-13
15  2023-12-13
16  2023-12-13
17  2023-12-13
18  2023-12-13
19  2023-04-14
20  2023-04-16
21  2023-04-16
22  2023-04-14
23  2023-04-14
24  2023-04-14
25  2023-04-14
26  2023-04-14
27  2023-04-14
28  2023-04-14
29  2023-04-16
30  2023-04-14
31  2023-12-13

status quo, no pipe, no extra parsing affecting it

                                 recent_combined_name route_id service_date  \
                                                      <lambda>          min
0                                10__10 Petaluma Blvd     [10]   2023-03-15
1                           11__11 Petaluma Crosstown     [11]   2023-03-15
2           24__24 SMART - Lakeville -Kaiser Hospital     [24]   2023-03-15
3                                   2__02 N. Mcdowell      [2]   2023-03-15
4                                      301__Route 301    [301]   2023-04-10
5                                  302__302 KJHS/CGHS    [302]   2023-04-10
6                                  303__303 KJHS/CGHS    [303]   2023-03-15
7   311__311 Casa Grande High and Kenilworth Junio...    [311]   2023-03-15
8                 312__Cghs / Eastside Transit Center    [312]   2023-03-15
9                       33__33 Eastside Counter-Clock     [33]   2023-03-15
10                           3__03 Eastside Clockwise      [3]   2023-03-15
11             501__501 Petaluma High and Junior High    [501]   2023-03-15


           max
0   2025-05-14
1   2025-05-14
2   2025-05-14
3   2025-05-14
4   2023-04-14
5   2025-05-14
6   2025-05-14
7   2025-05-14
8   2023-12-13
9   2025-05-14
10  2025-05-14
11  2025-05-14

Operator: Beach Cities GMV Schedule
status quo, with time_series_utils.pipe affecting it

  recent_combined_name route_id service_date
                       <lambda>          min         max
0                  102   [4819]   2023-03-15  2025-05-14
1                  109   [4815]   2023-03-15  2025-05-14

status quo, no pipe, no extra parsing affecting it

  recent_combined_name route_id service_date
                       <lambda>          min         max
0             102__102   [4819]   2023-03-15  2025-05-14
1             109__109   [4815]   2023-03-15  2025-05-14

Operator: Bear Schedule
status quo, with time_series_utils.pipe affecting it

  recent_combined_name    route_id service_date
                          <lambda>          min         max
0       Central Campus      [cent]   2023-03-15  2025-05-14
1                 Hill      [hill]   2023-03-15  2025-05-14
2   Night Safety North  [ntsafens]   2023-03-15  2025-05-14
3   Night Safety South  [ntsafess]   2023-03-15  2025-05-14
4            Perimeter      [peri]   2023-03-15  2025-05-14
5    Reverse Perimeter   [revperi]   2023-03-15  2025-05-14
6      Shared Services  [shrdserv]   2023-03-15  2025-05-14

status quo, no pipe, no extra parsing affecting it

                     recent_combined_name    route_id service_date
                                             <lambda>          min         max
0          Central Campus__Central Campus      [cent]   2023-03-15  2025-05-14
1                              Hill__Hill      [hill]   2023-03-15  2025-05-14
2  Night Safety North__Night Safety North  [ntsafens]   2023-03-15  2025-05-14
3  Night Safety South__Night Safety South  [ntsafess]   2023-03-15  2025-05-14
4                    Perimeter__Perimeter      [peri]   2023-03-15  2025-05-14
5    Reverse Perimeter__Reverse Perimeter   [revperi]   2023-03-15  2025-05-14
6        Shared Services__Shared Services  [shrdserv]   2023-03-15  2025-05-14

Operator: Commerce Schedule
status quo, with time_series_utils.pipe affecting it

  recent_combined_name route_id service_date
                       <lambda>          min         max
0                  100   [1693]   2023-03-15  2025-05-14
1                  200   [1692]   2023-03-15  2025-05-14
2                  300   [1694]   2023-03-15  2025-05-14
3                  400   [1690]   2023-03-15  2025-05-14
4                  500   [1691]   2023-03-15  2025-05-14
5                  600   [1695]   2023-03-15  2025-05-14
6                  700   [1697]   2024-07-17  2025-05-14

status quo, no pipe, no extra parsing affecting it

  recent_combined_name route_id service_date
                       <lambda>          min         max
0             100__100   [1693]   2023-03-15  2025-05-14
1             200__200   [1692]   2023-03-15  2025-05-14
2             300__300   [1694]   2023-03-15  2025-05-14
3             400__400   [1690]   2023-03-15  2025-05-14
4             500__500   [1691]   2023-03-15  2025-05-14
5             600__600   [1695]   2023-03-15  2025-05-14
6             700__700   [1697]   2024-07-17  2025-05-14

Operator: Elk Grove Schedule
status quo, with time_series_utils.pipe affecting it

        recent_combined_name  \

0   Elk Grove Commuter Route
1      Elk Grove Local Route
2                   Route 10
3                   Route 11
4                  Route 110
5                  Route 111
6                  Route 112
7                  Route 113
8                  Route 114
9                  Route 115
10                 Route 116
11                  Route 12
12                  Route 13
13                  Route 14
14                  Route 15
15                  Route 16
16                  Route 17
17                  Route 18
18                  Route 19

                                             route_id service_date
                                             <lambda>          min         max
0   [E14, E16, E11, E18, E12, E15, E19, E10, E17, ...   2025-03-12  2025-05-14
1          [E110, E112, E113, E115, E111, E114, E116]   2025-03-12  2025-05-14
2                                              [3428]   2023-03-15  2024-12-11
3                                              [3429]   2023-03-15  2024-12-11
4                                              [3421]   2023-03-15  2024-12-11
5                                              [3422]   2023-03-15  2024-12-11
6                                              [3423]   2023-03-15  2024-12-11
7                                              [3424]   2023-03-15  2024-12-11
8                                              [3425]   2023-03-15  2024-12-11
9                                              [3426]   2023-03-15  2024-12-11
10                                             [3427]   2023-03-15  2024-12-11
11                                             [3430]   2023-03-15  2024-12-11
12                                             [3431]   2023-03-15  2024-12-11
13                                             [3432]   2023-03-15  2024-12-11
14                                             [3433]   2023-03-15  2024-12-11
15                                             [3434]   2023-03-15  2024-12-11
16                                             [3435]   2023-03-15  2024-12-11
17                                             [3438]   2023-03-15  2024-12-11
18                                             [3439]   2023-03-15  2024-12-11

status quo, no pipe, no extra parsing affecting it

             recent_combined_name route_id service_date
                                  <lambda>          min         max
0                    10__Route 10   [3428]   2023-03-15  2024-12-11
1                  110__Route 110   [3421]   2023-03-15  2024-12-11
2                  111__Route 111   [3422]   2023-03-15  2024-12-11
3                  112__Route 112   [3423]   2023-03-15  2024-12-11
4                  113__Route 113   [3424]   2023-03-15  2024-12-11
5                  114__Route 114   [3425]   2023-03-15  2024-12-11
6                  115__Route 115   [3426]   2023-03-15  2024-12-11
7                  116__Route 116   [3427]   2023-03-15  2024-12-11
8                    11__Route 11   [3429]   2023-03-15  2024-12-11
9                    12__Route 12   [3430]   2023-03-15  2024-12-11
10                   13__Route 13   [3431]   2023-03-15  2024-12-11
11                   14__Route 14   [3432]   2023-03-15  2024-12-11
12                   15__Route 15   [3433]   2023-03-15  2024-12-11
13                   16__Route 16   [3434]   2023-03-15  2024-12-11
14                   17__Route 17   [3435]   2023-03-15  2024-12-11
15                   18__Route 18   [3438]   2023-03-15  2024-12-11
16                   19__Route 19   [3439]   2023-03-15  2024-12-11
17  E10__Elk Grove Commuter Route    [E10]   2025-03-12  2025-05-14
18    E110__Elk Grove Local Route   [E110]   2025-03-12  2025-05-14
19    E111__Elk Grove Local Route   [E111]   2025-03-12  2025-05-14
20    E112__Elk Grove Local Route   [E112]   2025-03-12  2025-05-14
21    E113__Elk Grove Local Route   [E113]   2025-03-12  2025-05-14
22    E114__Elk Grove Local Route   [E114]   2025-03-12  2025-05-14
23    E115__Elk Grove Local Route   [E115]   2025-03-12  2025-05-14
24    E116__Elk Grove Local Route   [E116]   2025-03-12  2025-05-14
25  E11__Elk Grove Commuter Route    [E11]   2025-03-12  2025-05-14
26  E12__Elk Grove Commuter Route    [E12]   2025-03-12  2025-05-14
27  E13__Elk Grove Commuter Route    [E13]   2025-03-12  2025-05-14
28  E14__Elk Grove Commuter Route    [E14]   2025-03-12  2025-05-14
29  E15__Elk Grove Commuter Route    [E15]   2025-03-12  2025-05-14
30  E16__Elk Grove Commuter Route    [E16]   2025-03-12  2025-05-14
31  E17__Elk Grove Commuter Route    [E17]   2025-03-12  2025-05-14
32  E18__Elk Grove Commuter Route    [E18]   2025-03-12  2025-05-14
33  E19__Elk Grove Commuter Route    [E19]   2025-03-12  2025-05-14

Operator: Humboldt Schedule
status quo, with time_series_utils.pipe affecting it

                   recent_combined_name route_id service_date
                                        <lambda>          min         max
0                      AMRTS Gold Route     [14]   2023-10-09  2025-02-12
1              AMRTS Green & Gold Route  [76463]   2023-10-09  2025-02-12
2                    AMRTS Orange Route     [15]   2023-10-09  2025-02-12
3                       AMRTS Red Route     [13]   2023-10-09  2025-02-12
4                     Arcata Gold Route     [14]   2025-03-12  2025-05-14
5             Arcata Green & Gold Route  [76463]   2025-03-12  2025-05-14
6                   Arcata Orange Route     [15]   2025-03-12  2025-05-14
7                      Arcata Red Route     [13]   2025-03-12  2025-05-14
8                             Blue Lake  [12416]   2023-03-15  2023-09-13
9                        ETS Gold Route      [5]   2023-10-09  2025-02-12
10                      ETS Green Route      [4]   2023-10-09  2025-02-12
11                     ETS Purple Route      [6]   2023-10-09  2025-02-12
12                    ETS Rainbow Route      [7]   2023-10-14  2024-10-19
13                        ETS Red Route      [3]   2023-10-09  2025-02-12
14                    Eureka Gold Route      [5]   2025-03-12  2025-05-14
15                   Eureka Green Route      [4]   2025-03-12  2025-05-14
16                  Eureka Purple Route      [6]   2025-03-12  2025-05-14
17                     Eureka Red Route      [3]   2025-03-12  2025-05-14
18                                 Gold     [14]   2023-03-15  2023-09-13
19                           Gold Route      [5]   2023-03-15  2023-09-13
20                         Green & Gold  [76463]   2023-09-13  2023-09-13
21                          Green Route      [4]   2023-03-15  2023-09-13
22          HSU-College of the Redwoods  [33023]   2023-03-15  2023-09-13
23             North State Express: 299      [8]   2025-03-12  2025-05-14
24       North State Express: Route 101  [76837]   2024-10-14  2025-05-14
25                               Orange     [15]   2023-03-15  2023-09-13
26                         Purple Route      [6]   2023-03-15  2023-09-13
27  RTS CalPoly-College of the Redwoods  [33023]   2023-10-09  2023-12-13
28                        Rainbow Route      [7]   2023-04-15  2023-04-15
29                                  Red     [13]   2023-03-15  2023-09-13
30                            Red Route      [3]   2023-03-15  2023-09-13
31                Redwood Coast Express  [76837]   2024-01-17  2024-09-18
32               Redwood Transit System  [76743]   2024-01-17  2025-05-14
33                 Samoa Transit System  [18689]   2023-03-15  2023-07-12
34          Southern Humboldt Intercity    [822]   2023-03-15  2025-02-12
35               Southern Humboldt Line    [822]   2025-03-12  2025-05-14
36                      Trinidad-Scotia      [1]   2023-03-15  2023-12-13
37                         Willow Creek      [8]   2023-10-09  2025-02-12
38                  Willow Creek-Arcata      [8]   2023-03-15  2023-09-13

status quo, no pipe, no extra parsing affecting it

                        recent_combined_name route_id service_date
                                             <lambda>          min         max
0           A G&G__Arcata Green & Gold Route  [76463]   2023-10-09  2025-05-14
1                  A Gold__Arcata Gold Route     [14]   2023-10-09  2025-05-14
2                A Orng__Arcata Orange Route     [15]   2023-10-09  2025-05-14
3                    A Red__Arcata Red Route     [13]   2023-10-09  2025-05-14
4                           BLRTS__Blue Lake  [12416]   2023-03-15  2023-09-13
5                  E Gold__Eureka Gold Route      [5]   2023-10-09  2025-05-14
6                  E Grn__Eureka Green Route      [4]   2023-10-09  2025-05-14
7                E Prpl__Eureka Purple Route      [6]   2023-10-09  2025-05-14
8                    E Red__Eureka Red Route      [3]   2023-10-09  2025-05-14
9                  E Rnbw__ETS Rainbow Route      [7]   2023-10-14  2024-10-19
10    NSE101__North State Express: Route 101  [76837]   2024-01-17  2025-05-14
11          NSE299__North State Express: 299      [8]   2023-10-09  2025-05-14
12          RTS__HSU-College of the Redwoods  [33023]   2023-03-15  2023-09-13
13  RTS__RTS CalPoly-College of the Redwoods  [33023]   2023-10-09  2023-12-13
14               RTS__Redwood Transit System  [76743]   2024-01-17  2025-05-14
15                      RTS__Trinidad-Scotia      [1]   2023-03-15  2023-12-13
16                SH__Southern Humboldt Line    [822]   2023-10-09  2025-05-14
17                                    __Gold     [14]   2023-03-15  2023-09-13
18                              __Gold Route      [5]   2023-03-15  2023-09-13
19                            __Green & Gold  [76463]   2023-09-13  2023-09-13
20                             __Green Route      [4]   2023-03-15  2023-09-13
21                                  __Orange     [15]   2023-03-15  2023-09-13
22                            __Purple Route      [6]   2023-03-15  2023-09-13
23                           __Rainbow Route      [7]   2023-04-15  2023-04-15
24                                     __Red     [13]   2023-03-15  2023-09-13
25                               __Red Route      [3]   2023-03-15  2023-09-13
26                    __Samoa Transit System  [18689]   2023-03-15  2023-07-12
27             __Southern Humboldt Intercity    [822]   2023-03-15  2023-09-13
28                     __Willow Creek-Arcata      [8]   2023-03-15  2023-09-13

Operator: LA DOT Schedule
status quo, with time_series_utils.pipe affecting it

                               recent_combined_name route_id service_date  \
                                                    <lambda>          min
0              CE Union Station/Bunker Hill Shuttle    [900]   2023-03-15
1                                             CE142    [870]   2023-03-15
2                                             CE409     [29]   2023-03-15
3                                             CE419    [867]   2023-03-15
4                                             CE422     [30]   2023-03-15
..                                              ...      ...          ...
60                      DASH Watts Counterclockwise    [714]   2023-03-15
61                        DASH Wilmington Clockwise    [708]   2023-03-15
62                 DASH Wilmington Counterclockwise    [710]   2023-03-15
63         DASH Wilshire Center/Koreatown Clockwise    [571]   2023-03-15
64  DASH Wilshire Center/Koreatown Counterclockwise    [572]   2023-03-15


           max
0   2025-05-14
1   2025-05-14
2   2025-05-14
3   2025-05-14
4   2025-05-14
..         ...
60  2025-05-14
61  2025-05-14
62  2025-05-14
63  2025-05-14
64  2025-05-14

[65 rows x 4 columns]

status quo, no pipe, no extra parsing affecting it

                                 recent_combined_name route_id service_date  \
                                                      <lambda>          min
0                                          142__CE142    [870]   2023-03-15
1                                          409__CE409     [29]   2023-03-15
2                                          419__CE419    [867]   2023-03-15
3                                          422__CE422     [30]   2023-03-15
4                                          423__CE423     [31]   2023-03-15
..                                                ...      ...          ...
60  Watts Counterclockwise__DASH Watts Countercloc...    [714]   2023-03-15
61    Wilmington Clockwise__DASH Wilmington Clockwise    [708]   2023-03-15
62  Wilmington Counterclockwise__DASH Wilmington C...    [710]   2023-03-15
63  Wilshire Center/Koreatown Clockwise__DASH Wils...    [571]   2023-03-15
64  Wilshire Center/Koreatown Counterclockwise__DA...    [572]   2023-03-15


           max
0   2025-05-14
1   2025-05-14
2   2025-05-14
3   2025-05-14
4   2025-05-14
..         ...
60  2025-05-14
61  2025-05-14
62  2025-05-14
63  2025-05-14
64  2025-05-14

[65 rows x 4 columns]

Operator: Lawndale Beat GMV Schedule
status quo, with time_series_utils.pipe affecting it

Empty DataFrame
Columns: [(recent_combined_name, ), (route_id, <lambda>), (service_date, min), (service_date, max)]
Index: []

status quo, no pipe, no extra parsing affecting it

Empty DataFrame
Columns: [(recent_combined_name, ), (route_id, <lambda>), (service_date, min), (service_date, max)]
Index: []

Operator: Redding Schedule
status quo, with time_series_utils.pipe affecting it

                recent_combined_name route_id service_date
                                     <lambda>          min         max
0                  Anderson Commuter   [6460]   2023-03-15  2024-01-17
1                     Burney Express    [161]   2023-03-15  2023-12-13
2      Churn Creek/Knightson/Airport     [15]   2024-01-17  2025-05-14
3                          Crosstown   [6790]   2024-01-17  2024-12-11
4                  Crosstown Express   [6790]   2023-03-15  2023-12-13
5                            Route 1    [151]   2023-03-15  2025-05-14
6                           Route 11    [159]   2023-03-15  2025-05-14
7                           Route 14    [160]   2023-03-15  2025-05-14
8                       Route 2 East   [1887]   2023-03-15  2024-11-13
9                       Route 2 West   [1886]   2023-03-15  2024-11-13
10                        Route 299X    [161]   2024-01-17  2025-05-14
11                           Route 3    [153]   2023-03-15  2025-05-14
12                           Route 4    [154]   2023-03-15  2025-05-14
13                           Route 5    [155]   2023-03-15  2024-11-13
14                     Route 6 North   [1888]   2023-03-15  2024-11-13
15                     Route 6 South   [1889]   2023-03-15  2024-11-13
16                           Route 7    [157]   2023-03-15  2025-05-14
17                           Route 9   [6446]   2023-03-15  2025-05-14
18  Route 99X/Amtrak Thruway Route 3     [24]   2024-09-18  2025-05-14
19                    School Express   [1885]   2023-03-15  2023-05-17
20        Shasta View/Shasta College   [1885]   2024-01-17  2025-05-14
21                  Shingletown Flex    [44X]   2024-12-11  2025-05-14

status quo, no pipe, no extra parsing affecting it

                     recent_combined_name route_id service_date
                                          <lambda>          min         max
0                            11__Route 11    [159]   2023-03-15  2025-05-14
1                  12X__Anderson Commuter   [6460]   2024-01-17  2024-01-17
2                            14__Route 14    [160]   2023-03-15  2025-05-14
3       15__Churn Creek/Knightson/Airport     [15]   2024-01-17  2025-05-14
4          17__Shasta View/Shasta College   [1885]   2024-01-17  2025-05-14
5                           18__Crosstown   [6790]   2024-01-17  2024-12-11
6                              1__Route 1    [151]   2023-03-15  2025-05-14
7                        299X__Route 299X    [161]   2024-01-17  2025-05-14
8                        2E__Route 2 East   [1887]   2023-03-15  2024-11-13
9                        2W__Route 2 West   [1886]   2023-03-15  2024-11-13
10                             3__Route 3    [153]   2023-03-15  2025-05-14
11                  44X__Shingletown Flex    [44X]   2024-12-11  2025-05-14
12                             4__Route 4    [154]   2023-03-15  2025-05-14
13                             5__Route 5    [155]   2023-03-15  2024-11-13
14                      6N__Route 6 North   [1888]   2023-03-15  2024-11-13
15                      6S__Route 6 South   [1889]   2023-03-15  2024-11-13
16                             7__Route 7    [157]   2023-03-15  2025-05-14
17  99X__Route 99X/Amtrak Thruway Route 3     [24]   2024-09-18  2025-05-14
18                             9__Route 9   [6446]   2023-03-15  2025-05-14
19                  AC__Anderson Commuter   [6460]   2023-03-15  2023-12-13
20                     BE__Burney Express    [161]   2023-03-15  2023-12-13
21                 CTE__Crosstown Express   [6790]   2023-03-15  2023-12-13
22                     SE__School Express   [1885]   2023-03-15  2023-05-17

Operator: Redwood Coast Schedule
status quo, with time_series_utils.pipe affecting it

                              recent_combined_name route_id service_date  \
                                                   <lambda>          min
0                   3 Route 3-Green 101 Northcrest    [117]   2023-08-15
1                              300 PM DNHS Tripper  [14242]   2023-03-15
2             Route 1-Blue Wal-Mart / DNHS College    [115]   2023-08-15
3                Route 1-Blue Wal-Mart / El Dorado    [115]   2023-03-15
4                      Route 199 Hiouchi / Gasquet    [257]   2023-03-15
5   Route 2-Red A / Inyo / DNHS/College / Wal-Mart    [116]   2023-08-15
6           Route 2-Red A / Inyo / Washington Loop    [116]   2023-03-15
7                    Route 20 Smith River / Arcata    [120]   2023-03-15
8                    Route 20 Smith River / Eureka    [120]   2023-08-15
9                     Route 3-Green 101 Northcrest    [117]   2023-03-15
10                 Route 300 - 300 DNHS AM Tripper  [32532]   2023-03-15
11      Route 4 - Orange Bertsch / Howland Hill Rd    [118]   2023-03-15


           max
0   2025-05-14
1   2025-05-14
2   2025-05-14
3   2023-07-12
4   2025-05-14
5   2025-05-14
6   2023-07-12
7   2023-07-12
8   2025-05-14
9   2023-07-12
10  2023-08-15
11  2025-05-14

status quo, no pipe, no extra parsing affecting it

                                recent_combined_name route_id service_date  \
                                                     <lambda>          min
0                   199__Route 199 Hiouchi / Gasquet    [257]   2023-03-15
1            1__Route 1-Blue Wal-Mart / DNHS College    [115]   2023-03-15
2                  20__Route 20 Smith River / Eureka    [120]   2023-03-15
3  2__Route 2-Red A / Inyo / DNHS/College / Wal-Mart    [116]   2023-03-15
4            300 AM__Route 300 - 300 DNHS AM Tripper  [32532]   2023-03-15
5                        300 PM__300 PM DNHS Tripper  [14242]   2023-03-15
6                  3__3 Route 3-Green 101 Northcrest    [117]   2023-03-15
7      4__Route 4 - Orange Bertsch / Howland Hill Rd    [118]   2023-03-15


          max
0  2025-05-14
1  2025-05-14
2  2025-05-14
3  2025-05-14
4  2023-08-15
5  2025-05-14
6  2025-05-14
7  2025-05-14

Operator: Santa Maria Schedule
status quo, with time_series_utils.pipe affecting it

                                 recent_combined_name  \

0                         12X Broadway/Orcutt Express
1                 13X Transit Center/PVHS/N. Broadway
2   Breeze Route 100 - Santa Maria Transit Center/...
3   Breeze Route 200 - Santa Maria Transit Center/...
4                                        Mall Shuttle
5   R11. Transit Center to Gov't Center via S. Bro...
6   Route 20 - Santa Maria Transit Center/Los Alam...
7   Route 30 - Santa Maria Transit Center/Vandenbe...
8   Rt 1. Transit Ctr to Preisker Park Via N. Broa...
9   Rt 11. Transit Center to Gov't Center via S. B...
10  Rt 2. Transit Center to PVH School via Western...
11  Rt 3. Transit Center to Marian Hospital to PVH...
12  Rt 4. Transit Center to SMH school to VTC via ...
13  Rt 5. Transit Center to Gov't Cntr to Evergree...
14  Rt 6. Oak Knolls to Old Orcutt-East to West-Ou...
15  Rt 7. A. H. College, Crossroads Shopping Cente...
16  Rt 8. Tanglewood to Crossroads Shopping Center...
17         Rt 9. Transit Center to PVH via Alvin Ave.

                                         route_id service_date
                                         <lambda>          min         max
0     [94db1732-e429-4508-b130-a7f3f9912f91, 12X]   2023-03-15  2025-05-14
1     [5b894962-da2e-442f-b9ec-df43cd2f80d0, 13X]   2023-07-12  2025-05-14
2          [59f7afab-55b6-477a-b186-7b9444437515]   2023-03-15  2023-09-13
3          [7b560260-9fa6-4cbe-8d1c-b3438646f072]   2023-03-15  2023-09-13
4                                          [Mall]   2024-09-18  2024-12-11
5                                            [11]   2024-07-17  2025-05-14
6      [7b560260-9fa6-4cbe-8d1c-b3438646f072, 20]   2023-10-09  2025-05-14
7      [59f7afab-55b6-477a-b186-7b9444437515, 30]   2023-10-09  2025-05-14
8   [1B, 1, 63573d24-db1d-41e6-a47f-bd5f71657a90]   2023-03-15  2025-05-14
9      [8a7c42f9-51e4-4848-bf88-30c210f149ad, 11]   2023-03-15  2025-05-14
10      [2, ca28f318-b7db-48a2-b2d2-57a59676587d]   2023-03-15  2025-05-14
11      [3, a9ea6924-c92b-4eaa-952e-0ca3f8acefa8]   2023-03-15  2025-05-14
12      [4f228c92-63fd-41ba-a659-1cb32865c4bf, 4]   2023-03-15  2025-05-14
13      [b3848f93-d26b-48a9-b6a6-5de22a4eab47, 5]   2023-03-15  2025-05-14
14      [686ba0ef-c6e8-48bb-9085-551fc485d196, 6]   2023-03-15  2025-05-14
15      [7, 022a7eb0-6ac6-449d-af39-00fd4f55b39f]   2023-03-15  2025-05-14
16      [8, da7c0a2a-eec6-40ce-99d7-5f1f24a85800]   2023-03-15  2025-05-14
17      [e3c2cf68-8f7e-4492-9646-e9a43cf2cf30, 9]   2023-03-15  2025-05-14

status quo, no pipe, no extra parsing affecting it

                                 recent_combined_name  \

0   11B__R11. Transit Center to Gov't Center via S...
1   11__Rt 11. Transit Center to Gov't Center via ...
2                    12X__12X Broadway/Orcutt Express
3            13X__13X Transit Center/PVHS/N. Broadway
4   1B__Rt 1. Transit Ctr to Preisker Park Via N. ...
5   1__Rt 1. Transit Ctr to Preisker Park Via N. B...
6   20__Route 20 - Santa Maria Transit Center/Los ...
7   2__Rt 2. Transit Center to PVH School via West...
8   30__Route 30 - Santa Maria Transit Center/Vand...
9   3__Rt 3. Transit Center to Marian Hospital to ...
10  4__Rt 4. Transit Center to SMH school to VTC v...
11  5__Rt 5. Transit Center to Gov't Cntr to Everg...
12  6__Rt 6. Oak Knolls to Old Orcutt-East to West...
13  7__Rt 7. A. H. College, Crossroads Shopping Ce...
14  8__Rt 8. Tanglewood to Crossroads Shopping Cen...
15      9__Rt 9. Transit Center to PVH via Alvin Ave.
16  B-100__Breeze Route 100 - Santa Maria Transit ...
17  B-200__Breeze Route 200 - Santa Maria Transit ...
18                                 Mall__Mall Shuttle

                                       route_id service_date
                                       <lambda>          min         max
0                                          [11]   2024-04-17  2025-05-14
1        [8a7c42f9-51e4-4848-bf88-30c210f149ad]   2023-03-15  2025-05-14
2   [94db1732-e429-4508-b130-a7f3f9912f91, 12X]   2023-03-15  2025-05-14
3   [5b894962-da2e-442f-b9ec-df43cd2f80d0, 13X]   2023-07-12  2025-05-14
4                                          [1B]   2024-07-17  2025-05-14
5     [1, 63573d24-db1d-41e6-a47f-bd5f71657a90]   2023-03-15  2025-05-14
6    [7b560260-9fa6-4cbe-8d1c-b3438646f072, 20]   2023-04-10  2025-05-14
7     [2, ca28f318-b7db-48a2-b2d2-57a59676587d]   2023-03-15  2025-05-14
8    [59f7afab-55b6-477a-b186-7b9444437515, 30]   2023-04-10  2025-05-14
9     [3, a9ea6924-c92b-4eaa-952e-0ca3f8acefa8]   2023-03-15  2025-05-14
10    [4f228c92-63fd-41ba-a659-1cb32865c4bf, 4]   2023-03-15  2025-05-14
11    [b3848f93-d26b-48a9-b6a6-5de22a4eab47, 5]   2023-03-15  2025-05-14
12    [686ba0ef-c6e8-48bb-9085-551fc485d196, 6]   2023-03-15  2025-05-14
13    [7, 022a7eb0-6ac6-449d-af39-00fd4f55b39f]   2023-03-15  2025-05-14
14    [8, da7c0a2a-eec6-40ce-99d7-5f1f24a85800]   2023-03-15  2025-05-14
15    [e3c2cf68-8f7e-4492-9646-e9a43cf2cf30, 9]   2023-03-15  2025-05-14
16       [59f7afab-55b6-477a-b186-7b9444437515]   2023-03-15  2023-03-15
17       [7b560260-9fa6-4cbe-8d1c-b3438646f072]   2023-03-15  2023-03-15
18                                       [Mall]   2024-09-18  2024-12-11

Operator: StanRTA Schedule
status quo, with time_series_utils.pipe affecting it

        recent_combined_name route_id service_date
                             <lambda>          min         max
0                ACE Express     [70]   2023-11-15  2025-05-14
1                Ace Express     [70]   2023-03-15  2023-10-13
2             BART - Modesto     [90]   2023-11-15  2025-05-14
3    BART- Turlock/Patterson    [100]   2023-11-15  2025-05-14
4             Bart - Modesto     [90]   2023-03-15  2023-10-13
5   Bart - Turlock/Patterson    [100]   2023-03-15  2023-10-13
6                   Route 10     [10]   2023-03-15  2025-05-14
7                   Route 15     [15]   2023-03-15  2023-10-15
8                   Route 21     [21]   2023-03-15  2025-05-14
9                   Route 22     [22]   2023-03-15  2025-05-14
10                  Route 23     [23]   2023-03-15  2025-05-14
11                  Route 24     [24]   2023-03-15  2025-05-14
12                  Route 25     [25]   2023-03-15  2025-05-14
13                  Route 26     [26]   2023-03-15  2025-05-14
14                  Route 29     [29]   2023-03-15  2025-05-14
15                 Route 29T    [290]   2023-11-15  2025-05-14
16                  Route 30     [30]   2023-03-15  2025-05-14
17                  Route 31     [31]   2023-03-15  2025-05-14
18                  Route 32     [32]   2023-03-15  2025-05-14
19                  Route 33     [33]   2023-03-15  2025-05-14
20                  Route 37     [37]   2023-03-15  2025-05-14
21                  Route 38     [38]   2023-03-15  2025-05-14
22                  Route 40     [40]   2023-03-15  2025-05-14
23                  Route 42     [42]   2023-03-15  2025-05-14
24                  Route 45     [45]   2023-03-15  2025-05-14
25                  Route 47     [47]   2023-03-15  2025-05-14
26                  Route 48     [48]   2023-03-15  2025-05-14
27                  Route 50     [50]   2023-03-15  2025-05-14
28                  Route 60     [60]   2023-03-15  2025-05-14
29                  Route 61     [61]   2023-03-15  2025-05-14
30          Stockton Express     [80]   2023-03-15  2025-05-14

status quo, no pipe, no extra parsing affecting it

             recent_combined_name route_id service_date
                                  <lambda>          min         max
0    100__BART- Turlock/Patterson    [100]   2023-11-15  2025-05-14
1   100__Bart - Turlock/Patterson    [100]   2023-03-15  2023-10-13
2                    10__Route 10     [10]   2023-03-15  2025-05-14
3                    15__Route 15     [15]   2023-03-15  2023-10-15
4                    21__Route 21     [21]   2023-03-15  2025-05-14
5                    22__Route 22     [22]   2023-03-15  2025-05-14
6                    23__Route 23     [23]   2023-03-15  2025-05-14
7                    24__Route 24     [24]   2023-03-15  2025-05-14
8                    25__Route 25     [25]   2023-03-15  2025-05-14
9                    26__Route 26     [26]   2023-03-15  2025-05-14
10                 29T__Route 29T    [290]   2023-11-15  2025-05-14
11                   29__Route 29     [29]   2023-03-15  2025-05-14
12                   30__Route 30     [30]   2023-03-15  2025-05-14
13                   31__Route 31     [31]   2023-03-15  2025-05-14
14                   32__Route 32     [32]   2023-03-15  2025-05-14
15                   33__Route 33     [33]   2023-03-15  2025-05-14
16                   37__Route 37     [37]   2023-03-15  2025-05-14
17                   38__Route 38     [38]   2023-03-15  2025-05-14
18                   40__Route 40     [40]   2023-03-15  2025-05-14
19                   42__Route 42     [42]   2023-03-15  2025-05-14
20                   45__Route 45     [45]   2023-03-15  2025-05-14
21                   47__Route 47     [47]   2023-03-15  2025-05-14
22                   48__Route 48     [48]   2023-03-15  2025-05-14
23                   50__Route 50     [50]   2023-03-15  2025-05-14
24                   60__Route 60     [60]   2023-03-15  2025-05-14
25                   61__Route 61     [61]   2023-03-15  2025-05-14
26                70__ACE Express     [70]   2023-11-15  2025-05-14
27                70__Ace Express     [70]   2023-03-15  2023-10-13
28           80__Stockton Express     [80]   2023-03-15  2025-05-14
29             90__BART - Modesto     [90]   2023-11-15  2025-05-14
30             90__Bart - Modesto     [90]   2023-03-15  2023-10-13

Operator: VCTC GMV Schedule
status quo, with time_series_utils.pipe affecting it

               recent_combined_name route_id service_date
                                    <lambda>          min         max
0                        50 Hwy 101   [4119]   2024-09-18  2025-05-14
1                         50-Hwy101   [4119]   2023-03-15  2024-06-12
2              55 Conejo Connection   [4126]   2024-09-18  2025-05-14
3      55X-Hwy101-Conejo Connection   [4126]   2023-09-13  2024-06-12
4                      60 - Hwy 126   [4127]   2025-02-12  2025-05-14
..                              ...      ...          ...         ...
74  Santa Paula School Tripper (AM)   [4250]   2024-09-18  2025-05-14
75                 Summer Beach Bus   [5830]   2023-07-12  2024-07-17
76                          Trolley   [4109]   2023-03-15  2025-05-14
77                        Trolley A   [3547]   2023-03-15  2025-05-14
78                        Trolley B   [3548]   2023-04-15  2024-10-20

[79 rows x 4 columns]

status quo, no pipe, no extra parsing affecting it

                                recent_combined_name route_id service_date  \
                                                     <lambda>          min
0                                       10__Route 10   [4778]   2023-03-15
1                                         1__Route 1   [3664]   2023-03-15
2                                       20__Route 20   [4763]   2023-03-15
3                                         2__Route 2   [3665]   2023-03-15
4                                       30__Route 30   [4720]   2023-03-15
..                                               ...      ...          ...
85  Santa Paula B__Santa Paula B Route (SP Hospital)   [4252]   2023-03-15
86                                     TA__Trolley A   [3547]   2023-03-15
87                                     TB__Trolley B   [3548]   2023-04-15
88          Tripper__Santa Paula School Tripper (AM)   [4250]   2024-09-18
89                                  Trolley__Trolley   [4109]   2023-03-15


           max
0   2025-05-14
1   2025-05-14
2   2025-05-14
3   2025-05-14
4   2025-05-14
..         ...
85  2025-05-14
86  2025-05-14
87  2024-10-20
88  2025-05-14
89  2025-05-14

[90 rows x 4 columns]

Operator: Victor Valley GMV Schedule
status quo, with time_series_utils.pipe affecting it

Empty DataFrame
Columns: [(recent_combined_name, ), (route_id, <lambda>), (service_date, min), (service_date, max)]
Index: []

status quo, no pipe, no extra parsing affecting it

Empty DataFrame
Columns: [(recent_combined_name, ), (route_id, <lambda>), (service_date, min), (service_date, max)]
Index: []

Operator: Visalia Schedule
status quo, with time_series_utils.pipe affecting it

   recent_combined_name route_id service_date
                        <lambda>          min         max
0               Route 1   [2037]   2023-03-15  2025-05-14
1             Route 11X   [2041]   2023-03-15  2025-05-14
2              Route 12   [2043]   2023-03-15  2025-05-14
3              Route 15   [2040]   2023-03-15  2025-05-14
4              Route 16   [2144]   2023-03-15  2025-05-14
5              Route 17   [5597]   2023-03-15  2025-05-14
6               Route 2   [2035]   2023-03-15  2025-05-14
7               Route 4   [2036]   2023-03-15  2025-05-14
8               Route 5   [2032]   2023-03-15  2025-05-14
9               Route 6   [2031]   2023-03-15  2025-05-14
10              Route 7   [4769]   2023-03-15  2025-05-14
11              Route 8   [4772]   2023-03-15  2025-05-14
12              Route 9   [2042]   2023-03-15  2025-05-14

status quo, no pipe, no extra parsing affecting it

   recent_combined_name route_id service_date
                        <lambda>          min         max
0     Rt 11X__Route 11X   [2041]   2023-03-15  2025-05-14
1       Rt 12__Route 12   [2043]   2023-03-15  2025-05-14
2       Rt 15__Route 15   [2040]   2023-03-15  2025-05-14
3       Rt 16__Route 16   [2144]   2023-03-15  2025-05-14
4       Rt 17__Route 17   [5597]   2023-03-15  2025-05-14
5         Rt 1__Route 1   [2037]   2023-03-15  2025-05-14
6         Rt 2__Route 2   [2035]   2023-03-15  2025-05-14
7         Rt 4__Route 4   [2036]   2023-03-15  2025-05-14
8         Rt 5__Route 5   [2032]   2023-03-15  2025-05-14
9         Rt 6__Route 6   [2031]   2023-03-15  2025-05-14
10        Rt 7__Route 7   [4769]   2023-03-15  2025-05-14
11        Rt 8__Route 8   [4772]   2023-03-15  2025-05-14
12        Rt 9__Route 9   [2042]   2023-03-15  2025-05-14

Operator: Yolobus Schedule
status quo, with time_series_utils.pipe affecting it

   recent_combined_name                                           route_id  \
                                                                  <lambda>
0   Causeway Connection  [b6bc2958-333f-4d1e-8579-b75b2698b6b4, 9cf7725...
1             ROUTE 211  [6ffe5400-193c-45b8-856a-e2316995d101, 6ebedf5...
2             ROUTE 212  [e89fbda1-8475-4442-88ca-852d78d62e46, 3997325...
3             ROUTE 215                                              [215]
4          ROUTE 215 EB  [1ae28e33-41d5-41b3-a481-9f51490ec40e, 3bf6177...
5          ROUTE 215 WB  [f92eae86-583c-4e18-8d51-bf7a435105cb, 3b5dff1...
6             ROUTE 230                                              [230]
7          ROUTE 230 AM  [ddf3b183-1d3a-4b20-89f1-0cca1119fc8c, 45abada...
8          ROUTE 230 PM  [5a402a5e-1527-472a-bbe3-9ca39ef55293, 60bc879...
9             ROUTE 240  [12a618d6-d441-4f89-be83-aa402b867ed8, 2b5c285...
10             ROUTE 37  [9831f8e4-7142-4d62-8a86-2cf3ee52eae3, 178155d...
11             ROUTE 40  [8bdcf7fa-0f8b-46c5-aa03-9c590f06ee93, 40, f88...
12             ROUTE 41  [41, a76f7f34-9287-4ce9-bda1-7fdc66130e09, 332...
13            ROUTE 42A  [08a6c620-4d4c-4be5-8dd9-9172952a13d8, fc37bce...
14            ROUTE 42B  [c51c649f-0092-4961-919f-01e1afd0625f, 443c277...
15             ROUTE 43                                               [43]
16          ROUTE 43 AM  [f51d601d-4df7-4054-8c39-b44536d9c734, cc65411...
17          ROUTE 43 PM  [ac8ab6d7-5799-4b80-bf7a-41b140cdc705, c1b5d90...
18           ROUTE 43-R                                              [43R]
19        ROUTE 43-R AM  [43RAM, af92ad39-d491-4c92-adff-2bf4a1de91fd, ...
20         ROUTE 43R PM  [43RPM, f12acfcf-4456-43dd-9749-4a01514ba209, ...
21             ROUTE 44                                               [44]
22             ROUTE 45                                               [45]
23          ROUTE 45 AM  [398bc159-24d1-4c5a-b0b3-501871c77335, 3e2bcbf...
24          ROUTE 45 PM  [235c6366-5e82-4a56-8fb0-f574bd72c23c, 45PM, 2...

   service_date
            min         max
0    2023-03-15  2025-05-14
1    2023-03-15  2025-05-14
2    2023-03-15  2025-05-14
3    2024-07-17  2025-05-14
4    2023-03-15  2024-06-12
5    2023-03-15  2024-06-12
6    2024-07-17  2025-05-14
7    2023-03-15  2024-06-12
8    2023-03-15  2024-06-12
9    2023-03-15  2025-05-14
10   2023-03-15  2025-05-14
11   2023-03-15  2025-05-14
12   2023-03-15  2025-05-14
13   2023-03-15  2025-05-14
14   2023-03-15  2025-05-14
15   2025-03-12  2025-05-14
16   2023-03-15  2025-02-12
17   2023-03-15  2025-02-12
18   2025-03-12  2025-05-14
19   2023-03-15  2025-02-12
20   2023-03-15  2025-02-12
21   2025-02-12  2025-05-14
22   2025-02-12  2025-05-14
23   2023-03-15  2025-01-15
24   2023-03-15  2025-01-15

status quo, no pipe, no extra parsing affecting it

        recent_combined_name  \

0   138__Causeway Connection
1             211__ROUTE 211
2             212__ROUTE 212
3        215EB__ROUTE 215 EB
4        215WB__ROUTE 215 WB
5             215__ROUTE 215
6        230AM__ROUTE 230 AM
7        230PM__ROUTE 230 PM
8             230__ROUTE 230
9             240__ROUTE 240
10              37__ROUTE 37
11              40__ROUTE 40
12              41__ROUTE 41
13            42A__ROUTE 42A
14            42B__ROUTE 42B
15         43AM__ROUTE 43 AM
16         43PM__ROUTE 43 PM
17      43RAM__ROUTE 43-R AM
18       43RPM__ROUTE 43R PM
19           43R__ROUTE 43-R
20              43__ROUTE 43
21              44__ROUTE 44
22         45AM__ROUTE 45 AM
23         45PM__ROUTE 45 PM
24              45__ROUTE 45

                                             route_id service_date
                                             <lambda>          min         max
0   [b6bc2958-333f-4d1e-8579-b75b2698b6b4, 9cf7725...   2023-03-15  2025-05-14
1   [6ffe5400-193c-45b8-856a-e2316995d101, 6ebedf5...   2023-03-15  2025-05-14
2   [e89fbda1-8475-4442-88ca-852d78d62e46, 3997325...   2023-03-15  2025-05-14
3   [1ae28e33-41d5-41b3-a481-9f51490ec40e, 3bf6177...   2023-03-15  2024-06-12
4   [f92eae86-583c-4e18-8d51-bf7a435105cb, 3b5dff1...   2023-03-15  2024-06-12
5                                               [215]   2024-07-17  2025-05-14
6   [ddf3b183-1d3a-4b20-89f1-0cca1119fc8c, 45abada...   2023-03-15  2024-06-12
7   [5a402a5e-1527-472a-bbe3-9ca39ef55293, 60bc879...   2023-03-15  2024-06-12
8                                               [230]   2024-07-17  2025-05-14
9   [12a618d6-d441-4f89-be83-aa402b867ed8, 2b5c285...   2023-03-15  2025-05-14
10  [9831f8e4-7142-4d62-8a86-2cf3ee52eae3, 178155d...   2023-03-15  2025-05-14
11  [8bdcf7fa-0f8b-46c5-aa03-9c590f06ee93, 40, f88...   2023-03-15  2025-05-14
12  [41, a76f7f34-9287-4ce9-bda1-7fdc66130e09, 332...   2023-03-15  2025-05-14
13  [08a6c620-4d4c-4be5-8dd9-9172952a13d8, fc37bce...   2023-03-15  2025-05-14
14  [c51c649f-0092-4961-919f-01e1afd0625f, 443c277...   2023-03-15  2025-05-14
15  [f51d601d-4df7-4054-8c39-b44536d9c734, cc65411...   2023-03-15  2025-02-12
16  [ac8ab6d7-5799-4b80-bf7a-41b140cdc705, c1b5d90...   2023-03-15  2025-02-12
17  [43RAM, af92ad39-d491-4c92-adff-2bf4a1de91fd, ...   2023-03-15  2025-02-12
18  [43RPM, f12acfcf-4456-43dd-9749-4a01514ba209, ...   2023-03-15  2025-02-12
19                                              [43R]   2025-03-12  2025-05-14
20                                               [43]   2025-03-12  2025-05-14
21                                               [44]   2025-02-12  2025-05-14
22  [398bc159-24d1-4c5a-b0b3-501871c77335, 3e2bcbf...   2023-03-15  2025-01-15
23  [235c6366-5e82-4a56-8fb0-f574bd72c23c, 45PM, 2...   2023-03-15  2025-01-15
24                                               [45]   2025-02-12  2025-05-14