In [1]:
GCS_FILE_PATH  = 'gs://calitp-analytics-data/data-analyses/shweta_folder'

In [2]:
from calitp_data_analysis.tables import tbls

/opt/conda/lib/python3.9/site-packages/google/auth/_default.py:78: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [3]:
import pandas as pd

In [4]:
from calitp_data_analysis.sql import to_snakecase

In [5]:
from siuba import *

In [6]:
df = (tbls.mart_transit_database.dim_organizations()>>filter(_._is_current== True, _.organization_type == ("Company"))>>collect())

In [7]:
df

,key,source_record_id,name,organization_type,roles,itp_id,details,caltrans_district,website,reporting_category,...,_deprecated__assessment_status,manual_check__contact_on_website,alias,is_public_entity,ntd_id,public_currently_operating,public_currently_operating_fixed_route,_is_current,_valid_from,_valid_to
0,3769538de955e0b01204e955ef6929f9,recmCZYY7aXn5MS9b,IBI,Company,[],NaN,None,None,https://www.ibigroup.com/,None,...,False,Unknown,[],False,None,False,False,True,2023-05-26 00:00:00+00:00,2098-12-31 23:59:59.999999+00:00
1,8a644e497439d25c01619c8ec6c85c44,recEN9M5vpVOk2JRI,SAP,Company,[],NaN,None,None,crystalreports.com,None,...,False,Unknown,[],False,None,False,False,True,2023-04-29 00:00:00+00:00,2098-12-31 23:59:59.999999+00:00
2,fa22729bf0698cc6d2ac4f4a41e861b0,recIAaOHjseoeNpTx,UTA,Company,[],NaN,None,None,http://www.utatransit.net/,None,...,False,Unknown,[],False,None,False,False,True,2023-04-29 00:00:00+00:00,2098-12-31 23:59:59.999999+00:00
3,3fd4d81306c49cb718c37b48fcbe585c,recveQ8PTsiKdT7RU,Aina,Company,[],NaN,Offices in Boston and Finland; no CA offices,None,https://www.ainaptt.com/,None,...,False,Unknown,[],False,None,False,False,True,2023-05-25 00:00:00+00:00,2098-12-31 23:59:59.999999+00:00
4,825e38e861054960083797eccfabf976,recqNWhsEzv1aN2hr,Ford,Company,[],0.0,HQ in MI,None,https://corporate.ford.com/,None,...,False,Unknown,[],False,None,False,False,True,2023-05-31 00:00:00+00:00,2098-12-31 23:59:59.999999+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,f3d0107e92a5ec5128e28841085cc267,reczdQfpujA5mctN4,United Taxi of San Fernando Valley Inc.,Company,[],NaN,None,07 - Los Angeles,http://sanfernandovalley.unitedtaxila.com/,None,...,False,Unknown,[],False,None,False,False,True,2023-05-27 00:00:00+00:00,2098-12-31 23:59:59.999999+00:00
252,e106b4bd533c26eca51b570584e59edb,recrPELUN7XjdWJDh,Roadrunner Shuttle and Limousine Service,Company,[],NaN,None,07 - Los Angeles,http://www.rrshuttle.com/ext/california/ventur...,None,...,False,Unknown,[],False,None,False,False,True,2023-06-01 00:00:00+00:00,2098-12-31 23:59:59.999999+00:00
253,6d98290cb076b5258dc87fd544eb96c0,recXwWoQB6RDKyDBE,South Bay Yellow/United Checker Cab Co-op,Company,[],NaN,None,None,https://www.southbayyellowcab.com/,None,...,False,Unknown,[],False,None,False,False,True,2023-05-25 00:00:00+00:00,2098-12-31 23:59:59.999999+00:00
254,a8550c0239334818f80a4052c5d32f54,recXgg8Je7BhRTXnX,National Express Transit Corporation (NEXT),Company,[],NaN,None,None,https://www.nationalexpresstransit.com/,None,...,False,Unknown,[],False,None,False,False,True,2023-05-24 00:00:00+00:00,2098-12-31 23:59:59.999999+00:00
255,f79e6c6d2247ad16dcd34868ccd33b6c,reczFByCgzevHZ5ct,Santa Maria Organization of Transportation Hel...,Company,[],NaN,The Santa Maria Organization of Transportation...,05 - San Luis Obispo,https://www.smoothinc.org/,None,...,False,Unknown,[],False,None,False,False,True,2023-05-25 00:00:00+00:00,2098-12-31 23:59:59.999999+00:00

In [8]:
df.to_csv(f"{GCS_FILE_PATH}/GCS_testexport.csv")

/opt/conda/lib/python3.9/site-packages/google/auth/_default.py:78: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

## Attempt to read file from GCS

In [9]:
df2 = pd.read_parquet("gs://calitp-analytics-data/data-analyses/shared_data/ca_county_centroids.parquet")

In [10]:
df2.head()

  county_name          centroid  zoom
0     Alameda  [37.65, -121.92]    11
1      Alpine   [38.6, -119.82]    11
2      Amador  [38.45, -120.65]    11
3       Butte   [39.67, -121.6]    11
4   Calaveras  [38.21, -120.55]    11

In [11]:
df2.sample(5)

   county_name          centroid  zoom
21    Mariposa  [37.58, -119.91]    11
54    Tuolumne  [38.03, -119.95]    11
27        Napa  [38.51, -122.33]    11
15       Kings  [36.08, -119.82]    11
56        Yolo   [38.69, -121.9]    11