In [1]:
from calitp_data_analysis.tables import tbls

In [2]:
import calitp_data_analysis.magics

In [3]:
import pandas as pd
from siuba import collect
from calitp_data_analysis.sql import query_sql
from siuba.data import mtcars

In [5]:
%%sql

SELECT
    COUNT(*)
FROM `mart_gtfs.dim_schedule_feeds`
WHERE
    key = "db58891de4281f965b4e7745675415ab"
LIMIT 10

   f0_
0    1

In [12]:
tbls.mart_gtfs.dim_agency()

,key,_gtfs_key,feed_key,agency_id,agency_name,agency_url,agency_timezone,agency_lang,agency_phone,agency_fare_url,agency_email,base64_url,_dt,_feed_valid_from,_line_number,feed_timezone
0,56112d81d62d71d408ea0247309178e4,090343c89ab8fe1d5e3b79e5687bbcca,21fa0b125d801eb5058da2ec5d748bda,LAX FlyAway,None,http://www.LAXFlyAway.org,America/Los_Angeles,en,(714) 507-1170,None,None,aHR0cHM6Ly93d3cuZmx5bGF4LmNvbS8tL21lZGlhL2ZseW...,2022-09-15,2022-09-15 14:59:54.274779+00:00,1,America/Los_Angeles
1,033d018b031002914fbfa48c872d4a65,8f5e204872e6b7034479a6d11502547b,3d30b02b9008f788eb89c41c137786c1,MT,None,http://www.mantecatransit.com,America/Los_Angeles,en,(209) 456-8000,None,None,aHR0cHM6Ly93d3cuY2kubWFudGVjYS5jYS51cy9Db21tdW...,2022-01-19,2022-01-19 00:11:01+00:00,1,America/Los_Angeles
2,1d48492cd90930d6612fc70ef18bf8d4,93c44e614219c41696a8148018c1d83b,f87ac9abe81a7548325423ede69c3b86,LAX FlyAway,None,http://www.LAXFlyAway.org,America/Los_Angeles,en,(714) 507-1170,None,None,aHR0cHM6Ly93d3cuZmx5bGF4LmNvbS8tL21lZGlhL2ZseW...,2022-09-09,2022-09-09 00:00:56+00:00,1,America/Los_Angeles
3,a196a8996bb74b7bd6d92f0cc2802620,00e77c29f2ce1986407cb93f53936dff,25915c089571c49be33b59e10c25d2ac,LAX FlyAway,None,http://www.LAXFlyAway.org,America/Los_Angeles,en,(714) 507-1170,None,None,aHR0cHM6Ly93d3cuZmx5bGF4LmNvbS8tL21lZGlhL2ZseW...,2022-09-15,2022-09-15 00:01:13+00:00,1,America/Los_Angeles
4,282b4e07171c48ac08162e0dc8749066,18fcf47148228c7b56c19726c854054b,9b8e9b8befe560293a6c5b38dc19ffbb,MT,None,http://www.mantecatransit.com,America/Los_Angeles,en,(209) 456-8000,None,None,aHR0cHM6Ly93d3cuY2kubWFudGVjYS5jYS51cy9Db21tdW...,2021-07-28,2021-07-28 13:56:16+00:00,1,America/Los_Angeles

In [13]:
df1 = tbls.mart_gtfs.dim_agency()

In [17]:
type(df1)

siuba.sql.backend.LazyTbl

In [22]:
df1['feed_key']

TypeError: 'LazyTbl' object is not subscriptable

In [24]:
df2 = pd.DataFrame(df1)

ValueError: DataFrame constructor not properly called!

In [25]:
tbls.mart_gtfs.dim_agency() >> collect()

NameError: name 'collect' is not defined

In [27]:
from siuba import collect

In [29]:
df2 = tbls.mart_gtfs.dim_agency() >> collect()

In [33]:
df2['key']

0        56112d81d62d71d408ea0247309178e4
1        033d018b031002914fbfa48c872d4a65
2        1d48492cd90930d6612fc70ef18bf8d4
3        a196a8996bb74b7bd6d92f0cc2802620
4        282b4e07171c48ac08162e0dc8749066
                       ...
64250    4b3a0475f412b43b2193162af67b6d5e
64251    8036aa61601f9639e38e5badc9e695e5
64252    d68573068cee2b62d39d4ec2984cfe4b
64253    d6be150d01ed7bf9ad331b36bac61b30
64254    280057e38f45d53dbf28a93696cf4bee
Name: key, Length: 64255, dtype: object

In [34]:
df2.head()

,key,_gtfs_key,feed_key,agency_id,agency_name,agency_url,agency_timezone,agency_lang,agency_phone,agency_fare_url,agency_email,base64_url,_dt,_feed_valid_from,_line_number,feed_timezone
0,56112d81d62d71d408ea0247309178e4,090343c89ab8fe1d5e3b79e5687bbcca,21fa0b125d801eb5058da2ec5d748bda,LAX FlyAway,None,http://www.LAXFlyAway.org,America/Los_Angeles,en,(714) 507-1170,None,None,aHR0cHM6Ly93d3cuZmx5bGF4LmNvbS8tL21lZGlhL2ZseW...,2022-09-15,2022-09-15 14:59:54.274779+00:00,1,America/Los_Angeles
1,033d018b031002914fbfa48c872d4a65,8f5e204872e6b7034479a6d11502547b,3d30b02b9008f788eb89c41c137786c1,MT,None,http://www.mantecatransit.com,America/Los_Angeles,en,(209) 456-8000,None,None,aHR0cHM6Ly93d3cuY2kubWFudGVjYS5jYS51cy9Db21tdW...,2022-01-19,2022-01-19 00:11:01+00:00,1,America/Los_Angeles
2,1d48492cd90930d6612fc70ef18bf8d4,93c44e614219c41696a8148018c1d83b,f87ac9abe81a7548325423ede69c3b86,LAX FlyAway,None,http://www.LAXFlyAway.org,America/Los_Angeles,en,(714) 507-1170,None,None,aHR0cHM6Ly93d3cuZmx5bGF4LmNvbS8tL21lZGlhL2ZseW...,2022-09-09,2022-09-09 00:00:56+00:00,1,America/Los_Angeles
3,a196a8996bb74b7bd6d92f0cc2802620,00e77c29f2ce1986407cb93f53936dff,25915c089571c49be33b59e10c25d2ac,LAX FlyAway,None,http://www.LAXFlyAway.org,America/Los_Angeles,en,(714) 507-1170,None,None,aHR0cHM6Ly93d3cuZmx5bGF4LmNvbS8tL21lZGlhL2ZseW...,2022-09-15,2022-09-15 00:01:13+00:00,1,America/Los_Angeles
4,282b4e07171c48ac08162e0dc8749066,18fcf47148228c7b56c19726c854054b,9b8e9b8befe560293a6c5b38dc19ffbb,MT,None,http://www.mantecatransit.com,America/Los_Angeles,en,(209) 456-8000,None,None,aHR0cHM6Ly93d3cuY2kubWFudGVjYS5jYS51cy9Db21tdW...,2021-07-28,2021-07-28 13:56:16+00:00,1,America/Los_Angeles

In [35]:
df2.dtypes

key                              object
_gtfs_key                        object
feed_key                         object
agency_id                        object
agency_name                      object
agency_url                       object
agency_timezone                  object
agency_lang                      object
agency_phone                     object
agency_fare_url                  object
agency_email                     object
base64_url                       object
_dt                              object
_feed_valid_from    datetime64[ns, UTC]
_line_number                      int64
feed_timezone                    object
dtype: object

In [39]:
type(df2)

pandas.core.frame.DataFrame

In [44]:
type(df2['key'])

pandas.core.series.Series

In [51]:
%%sql

select * from `mart_gtfs.dim_agency`

,key,_gtfs_key,feed_key,agency_id,agency_name,agency_url,agency_timezone,agency_lang,agency_phone,agency_fare_url,agency_email,base64_url,_dt,_feed_valid_from,_line_number,feed_timezone
0,56112d81d62d71d408ea0247309178e4,090343c89ab8fe1d5e3b79e5687bbcca,21fa0b125d801eb5058da2ec5d748bda,LAX FlyAway,None,http://www.LAXFlyAway.org,America/Los_Angeles,en,(714) 507-1170,None,None,aHR0cHM6Ly93d3cuZmx5bGF4LmNvbS8tL21lZGlhL2ZseW...,2022-09-15,2022-09-15 14:59:54.274779+00:00,1,America/Los_Angeles
1,033d018b031002914fbfa48c872d4a65,8f5e204872e6b7034479a6d11502547b,3d30b02b9008f788eb89c41c137786c1,MT,None,http://www.mantecatransit.com,America/Los_Angeles,en,(209) 456-8000,None,None,aHR0cHM6Ly93d3cuY2kubWFudGVjYS5jYS51cy9Db21tdW...,2022-01-19,2022-01-19 00:11:01+00:00,1,America/Los_Angeles
2,1d48492cd90930d6612fc70ef18bf8d4,93c44e614219c41696a8148018c1d83b,f87ac9abe81a7548325423ede69c3b86,LAX FlyAway,None,http://www.LAXFlyAway.org,America/Los_Angeles,en,(714) 507-1170,None,None,aHR0cHM6Ly93d3cuZmx5bGF4LmNvbS8tL21lZGlhL2ZseW...,2022-09-09,2022-09-09 00:00:56+00:00,1,America/Los_Angeles
3,a196a8996bb74b7bd6d92f0cc2802620,00e77c29f2ce1986407cb93f53936dff,25915c089571c49be33b59e10c25d2ac,LAX FlyAway,None,http://www.LAXFlyAway.org,America/Los_Angeles,en,(714) 507-1170,None,None,aHR0cHM6Ly93d3cuZmx5bGF4LmNvbS8tL21lZGlhL2ZseW...,2022-09-15,2022-09-15 00:01:13+00:00,1,America/Los_Angeles
4,282b4e07171c48ac08162e0dc8749066,18fcf47148228c7b56c19726c854054b,9b8e9b8befe560293a6c5b38dc19ffbb,MT,None,http://www.mantecatransit.com,America/Los_Angeles,en,(209) 456-8000,None,None,aHR0cHM6Ly93d3cuY2kubWFudGVjYS5jYS51cy9Db21tdW...,2021-07-28,2021-07-28 13:56:16+00:00,1,America/Los_Angeles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64250,4b3a0475f412b43b2193162af67b6d5e,53614dfeecf131052270c150f758385d,77b6f917c93cd0df914c4464babd89fb,1238,MARC,http://www.amtrak.com,America/New_York,en,None,None,None,aHR0cHM6Ly9jb250ZW50LmFtdHJhay5jb20vY29udGVudC...,2023-06-21,2023-06-21 03:00:44.374286+00:00,51,America/New_York
64251,8036aa61601f9639e38e5badc9e695e5,0460c4af1cff0625899b79263efb4de9,7582dbee0bae7096dc852dbb1b08bfae,1238,MARC,http://www.amtrak.com,America/New_York,en,None,None,None,aHR0cHM6Ly9jb250ZW50LmFtdHJhay5jb20vY29udGVudC...,2023-06-12,2023-06-12 03:00:19.345342+00:00,51,America/New_York
64252,d68573068cee2b62d39d4ec2984cfe4b,d4658c02796555dd0d7c2eb7e4591a72,c1e6cc82b6d90b887502c1968249bd09,1238,MARC,http://www.amtrak.com,America/New_York,en,None,None,None,aHR0cHM6Ly9jb250ZW50LmFtdHJhay5jb20vY29udGVudC...,2023-06-14,2023-06-14 03:00:25.051132+00:00,51,America/New_York
64253,d6be150d01ed7bf9ad331b36bac61b30,4778fc73f3171660f3e238fee43d2cd3,78b7c565f05f6a62fd2b89b570ead696,1238,MARC,http://www.amtrak.com,America/New_York,en,None,None,None,aHR0cHM6Ly9jb250ZW50LmFtdHJhay5jb20vY29udGVudC...,2023-06-17,2023-06-17 03:00:20.081767+00:00,51,America/New_York
64254,280057e38f45d53dbf28a93696cf4bee,baa4244fdd157a9af14e7d38469252eb,fe8f5d682c171239888eb51be6d14208,1238,MARC,http://www.amtrak.com,America/New_York,en,None,None,None,aHR0cHM6Ly9jb250ZW50LmFtdHJhay5jb20vY29udGVudC...,2023-06-13,2023-06-13 03:00:31.783490+00:00,51,America/New_York

In [49]:
tbls.mart_gtfs.dim_agency() >> collect()

,key,_gtfs_key,feed_key,agency_id,agency_name,agency_url,agency_timezone,agency_lang,agency_phone,agency_fare_url,agency_email,base64_url,_dt,_feed_valid_from,_line_number,feed_timezone
0,56112d81d62d71d408ea0247309178e4,090343c89ab8fe1d5e3b79e5687bbcca,21fa0b125d801eb5058da2ec5d748bda,LAX FlyAway,None,http://www.LAXFlyAway.org,America/Los_Angeles,en,(714) 507-1170,None,None,aHR0cHM6Ly93d3cuZmx5bGF4LmNvbS8tL21lZGlhL2ZseW...,2022-09-15,2022-09-15 14:59:54.274779+00:00,1,America/Los_Angeles
1,033d018b031002914fbfa48c872d4a65,8f5e204872e6b7034479a6d11502547b,3d30b02b9008f788eb89c41c137786c1,MT,None,http://www.mantecatransit.com,America/Los_Angeles,en,(209) 456-8000,None,None,aHR0cHM6Ly93d3cuY2kubWFudGVjYS5jYS51cy9Db21tdW...,2022-01-19,2022-01-19 00:11:01+00:00,1,America/Los_Angeles
2,1d48492cd90930d6612fc70ef18bf8d4,93c44e614219c41696a8148018c1d83b,f87ac9abe81a7548325423ede69c3b86,LAX FlyAway,None,http://www.LAXFlyAway.org,America/Los_Angeles,en,(714) 507-1170,None,None,aHR0cHM6Ly93d3cuZmx5bGF4LmNvbS8tL21lZGlhL2ZseW...,2022-09-09,2022-09-09 00:00:56+00:00,1,America/Los_Angeles
3,a196a8996bb74b7bd6d92f0cc2802620,00e77c29f2ce1986407cb93f53936dff,25915c089571c49be33b59e10c25d2ac,LAX FlyAway,None,http://www.LAXFlyAway.org,America/Los_Angeles,en,(714) 507-1170,None,None,aHR0cHM6Ly93d3cuZmx5bGF4LmNvbS8tL21lZGlhL2ZseW...,2022-09-15,2022-09-15 00:01:13+00:00,1,America/Los_Angeles
4,282b4e07171c48ac08162e0dc8749066,18fcf47148228c7b56c19726c854054b,9b8e9b8befe560293a6c5b38dc19ffbb,MT,None,http://www.mantecatransit.com,America/Los_Angeles,en,(209) 456-8000,None,None,aHR0cHM6Ly93d3cuY2kubWFudGVjYS5jYS51cy9Db21tdW...,2021-07-28,2021-07-28 13:56:16+00:00,1,America/Los_Angeles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64250,4b3a0475f412b43b2193162af67b6d5e,53614dfeecf131052270c150f758385d,77b6f917c93cd0df914c4464babd89fb,1238,MARC,http://www.amtrak.com,America/New_York,en,None,None,None,aHR0cHM6Ly9jb250ZW50LmFtdHJhay5jb20vY29udGVudC...,2023-06-21,2023-06-21 03:00:44.374286+00:00,51,America/New_York
64251,8036aa61601f9639e38e5badc9e695e5,0460c4af1cff0625899b79263efb4de9,7582dbee0bae7096dc852dbb1b08bfae,1238,MARC,http://www.amtrak.com,America/New_York,en,None,None,None,aHR0cHM6Ly9jb250ZW50LmFtdHJhay5jb20vY29udGVudC...,2023-06-12,2023-06-12 03:00:19.345342+00:00,51,America/New_York
64252,d68573068cee2b62d39d4ec2984cfe4b,d4658c02796555dd0d7c2eb7e4591a72,c1e6cc82b6d90b887502c1968249bd09,1238,MARC,http://www.amtrak.com,America/New_York,en,None,None,None,aHR0cHM6Ly9jb250ZW50LmFtdHJhay5jb20vY29udGVudC...,2023-06-14,2023-06-14 03:00:25.051132+00:00,51,America/New_York
64253,d6be150d01ed7bf9ad331b36bac61b30,4778fc73f3171660f3e238fee43d2cd3,78b7c565f05f6a62fd2b89b570ead696,1238,MARC,http://www.amtrak.com,America/New_York,en,None,None,None,aHR0cHM6Ly9jb250ZW50LmFtdHJhay5jb20vY29udGVudC...,2023-06-17,2023-06-17 03:00:20.081767+00:00,51,America/New_York
64254,280057e38f45d53dbf28a93696cf4bee,baa4244fdd157a9af14e7d38469252eb,fe8f5d682c171239888eb51be6d14208,1238,MARC,http://www.amtrak.com,America/New_York,en,None,None,None,aHR0cHM6Ly9jb250ZW50LmFtdHJhay5jb20vY29udGVudC...,2023-06-13,2023-06-13 03:00:31.783490+00:00,51,America/New_York

In [52]:
from calitp_data_analysis.sql import query_sql

In [53]:
df_dim_agency = query_sql("""

select * 
from `mart_gtfs.dim_agency`

""", as_df = True)

In [54]:
df_dim_agency

,key,_gtfs_key,feed_key,agency_id,agency_name,agency_url,agency_timezone,agency_lang,agency_phone,agency_fare_url,agency_email,base64_url,_dt,_feed_valid_from,_line_number,feed_timezone
0,56112d81d62d71d408ea0247309178e4,090343c89ab8fe1d5e3b79e5687bbcca,21fa0b125d801eb5058da2ec5d748bda,LAX FlyAway,None,http://www.LAXFlyAway.org,America/Los_Angeles,en,(714) 507-1170,None,None,aHR0cHM6Ly93d3cuZmx5bGF4LmNvbS8tL21lZGlhL2ZseW...,2022-09-15,2022-09-15 14:59:54.274779+00:00,1,America/Los_Angeles
1,033d018b031002914fbfa48c872d4a65,8f5e204872e6b7034479a6d11502547b,3d30b02b9008f788eb89c41c137786c1,MT,None,http://www.mantecatransit.com,America/Los_Angeles,en,(209) 456-8000,None,None,aHR0cHM6Ly93d3cuY2kubWFudGVjYS5jYS51cy9Db21tdW...,2022-01-19,2022-01-19 00:11:01+00:00,1,America/Los_Angeles
2,1d48492cd90930d6612fc70ef18bf8d4,93c44e614219c41696a8148018c1d83b,f87ac9abe81a7548325423ede69c3b86,LAX FlyAway,None,http://www.LAXFlyAway.org,America/Los_Angeles,en,(714) 507-1170,None,None,aHR0cHM6Ly93d3cuZmx5bGF4LmNvbS8tL21lZGlhL2ZseW...,2022-09-09,2022-09-09 00:00:56+00:00,1,America/Los_Angeles
3,a196a8996bb74b7bd6d92f0cc2802620,00e77c29f2ce1986407cb93f53936dff,25915c089571c49be33b59e10c25d2ac,LAX FlyAway,None,http://www.LAXFlyAway.org,America/Los_Angeles,en,(714) 507-1170,None,None,aHR0cHM6Ly93d3cuZmx5bGF4LmNvbS8tL21lZGlhL2ZseW...,2022-09-15,2022-09-15 00:01:13+00:00,1,America/Los_Angeles
4,282b4e07171c48ac08162e0dc8749066,18fcf47148228c7b56c19726c854054b,9b8e9b8befe560293a6c5b38dc19ffbb,MT,None,http://www.mantecatransit.com,America/Los_Angeles,en,(209) 456-8000,None,None,aHR0cHM6Ly93d3cuY2kubWFudGVjYS5jYS51cy9Db21tdW...,2021-07-28,2021-07-28 13:56:16+00:00,1,America/Los_Angeles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64250,4b3a0475f412b43b2193162af67b6d5e,53614dfeecf131052270c150f758385d,77b6f917c93cd0df914c4464babd89fb,1238,MARC,http://www.amtrak.com,America/New_York,en,None,None,None,aHR0cHM6Ly9jb250ZW50LmFtdHJhay5jb20vY29udGVudC...,2023-06-21,2023-06-21 03:00:44.374286+00:00,51,America/New_York
64251,8036aa61601f9639e38e5badc9e695e5,0460c4af1cff0625899b79263efb4de9,7582dbee0bae7096dc852dbb1b08bfae,1238,MARC,http://www.amtrak.com,America/New_York,en,None,None,None,aHR0cHM6Ly9jb250ZW50LmFtdHJhay5jb20vY29udGVudC...,2023-06-12,2023-06-12 03:00:19.345342+00:00,51,America/New_York
64252,d68573068cee2b62d39d4ec2984cfe4b,d4658c02796555dd0d7c2eb7e4591a72,c1e6cc82b6d90b887502c1968249bd09,1238,MARC,http://www.amtrak.com,America/New_York,en,None,None,None,aHR0cHM6Ly9jb250ZW50LmFtdHJhay5jb20vY29udGVudC...,2023-06-14,2023-06-14 03:00:25.051132+00:00,51,America/New_York
64253,d6be150d01ed7bf9ad331b36bac61b30,4778fc73f3171660f3e238fee43d2cd3,78b7c565f05f6a62fd2b89b570ead696,1238,MARC,http://www.amtrak.com,America/New_York,en,None,None,None,aHR0cHM6Ly9jb250ZW50LmFtdHJhay5jb20vY29udGVudC...,2023-06-17,2023-06-17 03:00:20.081767+00:00,51,America/New_York
64254,280057e38f45d53dbf28a93696cf4bee,baa4244fdd157a9af14e7d38469252eb,fe8f5d682c171239888eb51be6d14208,1238,MARC,http://www.amtrak.com,America/New_York,en,None,None,None,aHR0cHM6Ly9jb250ZW50LmFtdHJhay5jb20vY29udGVudC...,2023-06-13,2023-06-13 03:00:31.783490+00:00,51,America/New_York

In [59]:
df_dim_agency.groupby('agency_id').size().sort_index()

agency_id
0                                        156
01                                        18
05f0da90-7acf-491d-936c-5ee848a0e941      33
1                                       1224
100                                       21
                                        ...
samtrans-ca-us                            41
ucb                                        1
unitrans                                  77
wasco                                      2
west-hollywood                             4
Length: 332, dtype: int64

In [69]:
df_dim_agency.groupby('agency_id').last('agency_phone')

                                      _line_number
agency_id
0                                                1
01                                               1
05f0da90-7acf-491d-936c-5ee848a0e941             1
1                                                6
100                                              1
...                                            ...
samtrans-ca-us                                   1
ucb                                              1
unitrans                                         1
wasco                                            1
west-hollywood                                   1

[332 rows x 1 columns]

In [82]:
df_dim_agency.groupby('agency_id').mean()

/tmp/ipykernel_157/861259891.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_dim_agency.groupby('agency_id').mean()

                                      _line_number
agency_id
0                                         1.000000
01                                        1.000000
05f0da90-7acf-491d-936c-5ee848a0e941      1.000000
1                                         1.240196
100                                       1.000000
...                                            ...
samtrans-ca-us                            1.000000
ucb                                       1.000000
unitrans                                  1.000000
wasco                                     1.000000
west-hollywood                            1.000000

[332 rows x 1 columns]

In [11]:
mtcars

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4   18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
6   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
14  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
15  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4
16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
22  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
26  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
28  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
30  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8
31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2

In [13]:
type(mtcars)

pandas.core.frame.DataFrame

In [18]:
mtcars.groupby("cyl").mean()[["hp"]]

             hp
cyl
4     82.636364
6    122.285714
8    209.214286

In [24]:
mtcars.groupby("cyl").mean()["hp"]

cyl
4     82.636364
6    122.285714
8    209.214286
Name: hp, dtype: float64

In [20]:
mtcars['hp']

0     110
1     110
2      93
3     110
4     175
5     105
6     245
7      62
8      95
9     123
10    123
11    180
12    180
13    180
14    205
15    215
16    230
17     66
18     52
19     65
20     97
21    150
22    150
23    245
24    175
25     66
26     91
27    113
28    264
29    175
30    335
31    109
Name: hp, dtype: int64

In [21]:
mtcars.hp

0     110
1     110
2      93
3     110
4     175
5     105
6     245
7      62
8      95
9     123
10    123
11    180
12    180
13    180
14    205
15    215
16    230
17     66
18     52
19     65
20     97
21    150
22    150
23    245
24    175
25     66
26     91
27    113
28    264
29    175
30    335
31    109
Name: hp, dtype: int64

In [22]:
mtcars.hp.mean()

146.6875