In [1]:
import pandas as pd
import numpy as np
from calitp import to_snakecase

from siuba import *

from IPython.display import display, Markdown

In [2]:
df = to_snakecase(pd.read_csv(
    'gs://calitp-analytics-data/data-analyses/'
    'gtfs_compliance/organizations-AllOrganizations.csv'))

/opt/conda/lib/python3.10/site-packages/google/auth/_default.py:79: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. We recommend you rerun `gcloud auth application-default login` and make sure a quota project is added. Or you can use service accounts instead. For more information about service accounts, see https://cloud.google.com/docs/authentication/
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [26]:
pd.set_option("display.max_columns", 100)

In [17]:
#filter out the ones that have 0 checked. this is to account for the filters specified. 
(df
 >>select(_.name, _.currently_operating__from_mobility_services_managed_)
 >>filter(_.currently_operating__from_mobility_services_managed_.str.contains('0'))
        )

,name,currently_operating__from_mobility_services_managed_
57,Bureau of Land Management,0 checked out of 1
64,California College of the Arts,0 checked out of 1
76,Camping Unlimited for Developmentally Disabled,0 checked out of 1
124,City of Belmont,0 checked out of 1
160,City of Cuyama,0 checked out of 1
163,City of Dana Point,0 checked out of 1
172,City of Duarte,0 checked out of 1
214,City of Huron,0 checked out of 1
236,City of Lawndale,0 checked out of 1
279,City of Palo Alto,0 checked out of 1
334,City of Signal Hill,0 checked out of 1
429,Family Bridges,0 checked out of 1
447,Friends of Children with Special Needs,0 checked out of 1
510,Kimochi,0 checked out of 1
513,Klamath Trinity Non-Emergency Transportation,0 checked out of 1
571,Monument Impact Inc.,0 checked out of 1
605,Oracle Inc.,0 checked out of 1
626,Philippines Airlines,0 checked out of 1
692,San Luis Obispo Regional Transit Authority,10 checked out of 11
728,Skyline College,0 checked out of 1

In [20]:
# filter and check before subsetting data
((df>>filter(_.currently_operating__from_mobility_services_managed_ != ('0 checked out of 1')))
 >>select(_.name, _.currently_operating__from_mobility_services_managed_)
 >>filter(_.currently_operating__from_mobility_services_managed_.str.contains('0'))
        )

,name,currently_operating__from_mobility_services_managed_
692,San Luis Obispo Regional Transit Authority,10 checked out of 11

In [21]:
df = (df>>filter(_.currently_operating__from_mobility_services_managed_ != ('0 checked out of 1')))

In [23]:
df.columns

Index(['name', 'organization_type', 'roles', 'record_creation_time', 'ntp_id',
       'itp_id', 'opm_id_drmt', 'dotid', 'brand', 'alias', 'details',
       'website', 'parent_organization', 'administrating_organization',
       'mobility_services_managed', 'missing_static',
       'funding_sources_for_managed_transportation',
       'mobility_services_operated', 'gtfs_datasets_produced',
       'service_type__from_mobility_services_managed_',
       'currently_operating__from_mobility_services_managed_',
       'currently_operating__from_mobility_services_operated_',
       'service_type__from_mobility_services_operated_', 'headquarters_place',
       'funding_programs', 'total_voms__ntd_', 'service_area_sq_miles__ntd_',
       'service_area_population__ntd_', 'caltrans_district', 'mpo_rtpa',
       'planning_authority', 'tracking_category', 'reporting_category',
       'assist_category', 'eligibility_programs', 'gtfs_datasets',
       'gtfs_dataset__from_mobility_services_managed_', 'fare_systems',
       'gtfs_schedule_status', 'fares_v2_status', 'flex_status',
       'services_needing_alerts',
       'services_needing_tripupdates_or_vehiclepositions',
       '#_of_fixed_route_services', '#_services_w__complete_rt_status',
       '#_fixed_route_services_w__static_gtfs',
       'complete_static_gtfs_coverage__1=yes_', 'complete_rt_coverage',
       '>=1_gtfs_feed_for_any_service__1=yes_', '>=_1_complete_rt_set__1=yes_',
       'service_availability_category__from_mobility_services_managed_',
       '#_fixed_route_or_deviated_fixed_route_services',
       '#_fixed_route_or_deviated_fixed_route_service_w__static_gtfs',
       '#_services_with_missing_static_feed_for_fixed_route_or_deviated_fixed_route',
       'county_geography', 'county_geography_3', 'gtfs_static_status',
       'gtfs_realtime_status', 'service_availability', 'service___component'],
      dtype='object')

In [28]:
df.sample()

,name,organization_type,roles,record_creation_time,ntp_id,itp_id,opm_id_drmt,dotid,brand,alias,details,website,parent_organization,administrating_organization,mobility_services_managed,missing_static,funding_sources_for_managed_transportation,mobility_services_operated,gtfs_datasets_produced,service_type__from_mobility_services_managed_,currently_operating__from_mobility_services_managed_,currently_operating__from_mobility_services_operated_,service_type__from_mobility_services_operated_,headquarters_place,funding_programs,total_voms__ntd_,service_area_sq_miles__ntd_,service_area_population__ntd_,caltrans_district,mpo_rtpa,planning_authority,tracking_category,reporting_category,assist_category,eligibility_programs,gtfs_datasets,gtfs_dataset__from_mobility_services_managed_,fare_systems,gtfs_schedule_status,fares_v2_status,flex_status,services_needing_alerts,services_needing_tripupdates_or_vehiclepositions,#_of_fixed_route_services,#_services_w__complete_rt_status,#_fixed_route_services_w__static_gtfs,complete_static_gtfs_coverage__1=yes_,complete_rt_coverage,>=1_gtfs_feed_for_any_service__1=yes_,>=_1_complete_rt_set__1=yes_,service_availability_category__from_mobility_services_managed_,#_fixed_route_or_deviated_fixed_route_services,#_fixed_route_or_deviated_fixed_route_service_w__static_gtfs,#_services_with_missing_static_feed_for_fixed_route_or_deviated_fixed_route,county_geography,county_geography_3,gtfs_static_status,gtfs_realtime_status,service_availability,service___component
17,Amador County Transportation Commission,NaN,"Regional Transportation Planning Agency,Local ...",10/11/2021 11:52pm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,actc-amador.org,"Amador County,City of Amador City,City of Jack...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,1,1,0,0,NaN,0,0,0,Amador,NaN,Static OK,RT Incomplete,NaN,NaN

In [29]:
df.currently_operating__from_mobility_services_operated_.value_counts()

1 checked out of 1      258
2 checked out of 2       89
3 checked out of 3       31
5 checked out of 5       10
4 checked out of 4        8
2 checked out of 3        4
1 checked out of 2        4
6 checked out of 6        3
3 checked out of 4        3
8 checked out of 8        3
9 checked out of 9        2
7 checked out of 7        2
0 checked out of 1        2
10 checked out of 10      1
9 checked out of 10       1
16 checked out of 16      1
4 checked out of 5        1
29 checked out of 29      1
5 checked out of 6        1
11 checked out of 11      1
14 checked out of 14      1
Name: currently_operating__from_mobility_services_operated_, dtype: int64

In [36]:
(df>>filter(_.currently_operating__from_mobility_services_operated_.str.contains('0'))
 >>select(_.name,
          _.currently_operating__from_mobility_services_managed_,
          _.currently_operating__from_mobility_services_operated_))

,name,currently_operating__from_mobility_services_managed_,currently_operating__from_mobility_services_operated_
664,Sacramento Regional Transit District,9 checked out of 9,10 checked out of 10
676,San Diego Metropolitan Transit System,2 checked out of 4,0 checked out of 1
679,"San Diego Trolley, Inc.",NaN,0 checked out of 1
692,San Luis Obispo Regional Transit Authority,10 checked out of 11,9 checked out of 10

In [37]:
managed_service_cols = [
    'mobility_services_managed', 
    'service_type__from_mobility_services_managed_',
]

operated_service_cols = [
    'mobility_services_operated', 
    #'currently_operating__from_mobility_services_operated_',
    'service_type__from_mobility_services_operated_', 
]

In [38]:
def make_long(df, keep_cols = [], category_name = "managed"):
    df1 = df[["name", "gtfs_schedule_status"] + keep_cols]
    
    for col_name in ["mobility_services", "service_type"]:
        df1 = df1.rename(columns=lambda c: col_name 
                        if c.startswith(col_name) else c)
    
    df1 = df1[["name", "gtfs_schedule_status", "mobility_services", "service_type"]]
    
    df2 = df1.assign(
        mobility_services = (df1.mobility_services.fillna("None")
                         .apply(lambda x: x.split(','))
                        )
    )
    
    # Cannot add service_type to explode
    # Service types do not match mobility_services (1 service can provide both flex and fixed route)
    # That's fine, maybe service type is not too important to keep anyway
    df3 = df2.explode("mobility_services")
    
    # New variable to track the category name. 
    # Within mobility services, there are 2 sub-categories, managed / operated
    df3 = df3.assign(
        category = category_name
    )
    
    return df3

In [39]:
managed = make_long(df, keep_cols = managed_service_cols, category_name = "managed")
managed

,name,gtfs_schedule_status,mobility_services,service_type,category
0,A-Paratransit,NaN,None,NaN,managed
1,ABC Shuttle,needed,ABC Airport Shuttle,on-demand,managed
2,Able Inc.,NaN,Able Inc.,on-demand,managed
3,Abrazar Inc.,needed,Abrazar,NEMT,managed
4,Access Services,needed,LA Access Services,ADA paratransit,managed
...,...,...,...,...,...
849,Yuba-Sutter Transit Authority,"ok,needed,needed",Sacramento Express,"fixed-route,on-demand,deviated fixed-route,res...",managed
849,Yuba-Sutter Transit Authority,"ok,needed,needed",Yuba College Sutter Campus Shuttle,"fixed-route,on-demand,deviated fixed-route,res...",managed
850,Yuma County Intergovernmental Public Transport...,ok,Yuma County Area Transit,fixed-route,managed
851,Yurok Tribe,needed,Yurok Tribe Transit Service,"on-demand,reservations",managed
852,Zonar Inc.,NaN,None,NaN,managed

In [40]:
operated = make_long(df, keep_cols = operated_service_cols, category_name = "operated")
operated

,name,gtfs_schedule_status,mobility_services,service_type,category
0,A-Paratransit,NaN,East Bay Paratransit,ADA paratransit,operated
1,ABC Shuttle,needed,ABC Airport Shuttle,on-demand,operated
2,Able Inc.,NaN,Able Inc.,on-demand,operated
3,Abrazar Inc.,needed,Abrazar,NEMT,operated
4,Access Services,needed,LA Access Services,ADA paratransit,operated
...,...,...,...,...,...
849,Yuba-Sutter Transit Authority,"ok,needed,needed",Yuba-Sutter Dial-A-Ride,"fixed-route,on-demand,deviated fixed-route,res...",operated
849,Yuba-Sutter Transit Authority,"ok,needed,needed",Sacramento Express,"fixed-route,on-demand,deviated fixed-route,res...",operated
850,Yuma County Intergovernmental Public Transport...,ok,Yuma County Area Transit,fixed-route,operated
851,Yurok Tribe,needed,Yurok Tribe Transit Service,"on-demand,reservations",operated
852,Zonar Inc.,NaN,None,NaN,operated

In [41]:
operated[operated.name.str.contains("Anaheim")]

,name,gtfs_schedule_status,mobility_services,service_type,category
25,Anaheim Transportation Network,"ok,needed,needed",Anaheim Resort Transportation,"fixed-route,on-demand,ADA paratransit",operated
25,Anaheim Transportation Network,"ok,needed,needed",FRAN,"fixed-route,on-demand,ADA paratransit",operated
25,Anaheim Transportation Network,"ok,needed,needed",Anaheim Transportation Network Paratransit,"fixed-route,on-demand,ADA paratransit",operated
106,City of Anaheim,needed,Senior Wheels,"reservations,on-demand",operated

In [42]:
operated[operated.name.str.contains("Yuba")]

,name,gtfs_schedule_status,mobility_services,service_type,category
849,Yuba-Sutter Transit Authority,"ok,needed,needed",Yuba-Sutter Transit,"fixed-route,on-demand,deviated fixed-route,res...",operated
849,Yuba-Sutter Transit Authority,"ok,needed,needed",Yuba-Sutter Rural Transit,"fixed-route,on-demand,deviated fixed-route,res...",operated
849,Yuba-Sutter Transit Authority,"ok,needed,needed",Yuba-Sutter Dial-A-Ride,"fixed-route,on-demand,deviated fixed-route,res...",operated
849,Yuba-Sutter Transit Authority,"ok,needed,needed",Sacramento Express,"fixed-route,on-demand,deviated fixed-route,res...",operated

In [43]:
# They can just produce 1 GTFS dataset, but it seems like 
# gtfs_schedule_status also doesn't move closely with
# service_type_mobility_services_managed or mobility_services_managed
# Leave unexploded

df[df.name.str.contains("Anaheim")][
    ["name", "gtfs_schedule_status", "gtfs_dataset__from_mobility_services_managed_"]]

,name,gtfs_schedule_status,gtfs_dataset__from_mobility_services_managed_
25,Anaheim Transportation Network,"ok,needed,needed",Anaheim Resort Schedule
106,City of Anaheim,needed,NaN